.input-container {
  position: relative;
  width: 100%;
  margin: 0px;
  background: transparent;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(0 0% 70%);
  border-radius: 4px;
  background: transparent;
  font-size: 14px;
  outline: none;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s ease-in-out;
  color: #999;
  pointer-events: none;
}

.input-field:focus + .placeholder,
.filled {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #FFF;
  background-color: #000;
}
