// Default Settings

// Accent Colors

// $accentColor1 =

// Text Colors

$textColor1 = #FFFFFF // Main Light Font Color
$textColor2 = #333333 // Main Dark Font Color

$textColorLight = $textColor1
$textColorDark = $textColor2

// Button Colors

$buttonColor1 = #31393C
$buttonColor2 = #3A76FF

$buttonColorNormal = $buttonColor1
$buttonColorImportant = $buttonColor2

// Drop Shadow Color

$shadowColor1 = rgba(0,0,0, .2)
$shadowColor2 = rgba(0,0,0, .15)

// Background Colors

$backgroundColor1 = #ffffff

// Dimensions

$pageWidth = 1000px
$headerHeight = 50px

$spacing = 8px
$sectionMinHeight= 600px

// Breakpoints

$tabletWidth = 800px
$phoneWidth = 650px

// Timing

$transitionTime = 400ms
