// START Floating Top Header

header
  height: $headerHeight
  margin-top: 10px
  font-size: 1.125rem
  color: $textColor1
  position: fixed
  z-index: 1000

  *
    vertical-align: middle

  nav
    height: $headerHeight
    position: relative

    & > *
      height: 100%

    // START Positional/ResponsiveClasses

    .left
      position: absolute
      left: 0
      top: 0

    +above($tabletWidth + 1)
      .center
        width: 100%
        text-align: center

      .right
        position: absolute
        right: 0
        top: 0

    +between($phoneWidth + 1, $tabletWidth)
      .center
      .right
        float: right

    +below($phoneWidth)
      .center
      .right
        display: none

    // END Positional/ResponsiveClasses

    // START Logical Classes

    .logo
      .logo-link
        color: $textColor1
        text-decoration: none

      .logo-image
        height: 100%
        padding $spacing

    .primary
    .secondary
      & > *
        display: inline-block
        height: $headerHeight
        line-height: $headerHeight
        padding: 0 ($spacing * 1.5)

    // END Logical Classes

// END Floating Top Header
