// START Buttons

button
.button
  outline: none
  border: 0
  height: 2.5rem
  line-height: 2.5rem
  font-size: 1rem
  text-decoration: none
  font-weight: 600
  white-space: nowrap

  color: $textColor1
  background-color: $buttonColorNormal
  padding: .75rem 1.5rem

  box-shadow: 1px 2px 1px 0.5px $shadowColor1
  transition: box-shadow ($transitionTime * .5) linear

  &:hover
    box-shadow: 2px 4px 2px .5px $shadowColor2

  &.important
    background-color: $buttonColorImportant

// EEND Buttons
