// START Header Navigation Menus

header
  // .menu contains all menu content and functions based on hover
  .menu
    cursor: default
    position: relative
    text-align: left

    // .menu-content is the part of the menu that expands and stuff
    .menu-body
      opacity: 0
      position: absolute
      left: 50%
      top: 100%
      pointer-events: none
      transition: all ($transitionTime * .5) ease-in-out

      color: $textColor2

      transform: translateX(-50%)
      min-width: 200px

      &:before
        content: ''
        width:  2 * $spacing
        height: 2 * $spacing
        position: absolute
        bottom: 100%
        background-color: $backgroundColor1
        left: 50%
        transform: translate(-50%, 50%) rotate(45deg)

      .menu-content
        padding: $spacing (2 * $spacing)
        transform-origin: top center
        transform: scale(.9)
        background-color: $backgroundColor1
        transition: all $transitionTime ease-in-out
        box-shadow: 2px 4px 2px .5px $shadowColor2

    &:hover .menu-body
    &:focus .menu-body
    .menu-body:hover
      opacity: 1
      pointer-events: auto

      .menu-content
        transform: none

// END Header Navigation Menus

