#commerce ~ main
  .hero
    // background: linear-gradient(135deg, #2c3e50, #3498db)
    background: linear-gradient(135deg, #411C6D, #8AC6D0, #B8F3FF)
    text-align: center

    p
      padding 0 10%
