$headerColor2 = #74226C

#commerce ~ main
  .hero
    // background: linear-gradient(135deg, #2c3e50, #3498db)
    background: linear-gradient(135deg, #411C6D, #8AC6D0, #B8F3FF)
    text-align: center

    p
      padding 0 10%

  .examples
    text-align: center
    padding-top: $spacing * 4
    padding-bottom: $spacing * 4
    background-color: $backgroundColor2

    p
      padding 0 10%


  .list-1
    padding-top: $spacing * 8

    .content > *
      +above($phoneWidth + 1)
        width: 45%

      & > *
        display: inline-block
        vertical-align: top

      .icon
        width: $iconSize
        margin-right: $spacing * 2

      .text
        width: 'calc(95% - %s)' % ($iconSize + $spacing * 2)
        margin-bottom: $spacing * 10

        .title
        .body
          margin: 0

        .title
          margin-bottom: 1rem

      +above($phoneWidth + 1)
        &:nth-child(2n + 1)
          margin-right: 10%

  .solutions
    padding-bottom: $spacing * 8

    .content
      text-align: center

      h3
        margin-bottom: 2 * $spacing
        color: $headerColor2

      h4
        padding 0 10%
        margin-bottom: 2 * $spacing
        color: $textColor3

  .list-2
    padding-top: $spacing * 8
    background-color: $backgroundColor2
    overflow: hidden
    // border-bottom: 1px solid $textColor3

    .content.columns > *
      margin-bottom: $spacing * 10
      +above($phoneWidth + 1)
        width: 30%

      & > *
        display: inline-block
        vertical-align: top

      .title
      .body
        margin: 0

      .title
        margin-bottom: 1rem

      +above($phoneWidth + 1)
        &:nth-child(2n + 1)
          margin-right: 30%

    .content
      +above($phoneWidth + 1)
        .image
          position: absolute
          left: 50%
          transform: translate(-50%, 30%)
          bottom: 0
          width: 20%
          max-width: 250px

      +below($phoneWidth)
        .image
          text-align: center
          height: 400px

  .solution
    border-bottom: 1px solid $backgroundColor2
    padding-top: $spacing * 4
    padding-bottom: $spacing * 6

    .content
      &.text
        flex: 5
        margin-right: $spacing * 4

        h3
          margin-bottom: 2 * $spacing
          color: $headerColor2

      &.image
        +above($phoneWidth + 1)
          flex: 3
          margin: ($spacing * 8) 0
          width: 100%

          img
            transform: scale(1.4)
            transform-origin: center left

        +below($phoneWidth)
          display: none

  .summary
    padding-top: ($spacing * 8)
    padding-bottom: ($spacing * 10)

    .content
      padding: ($spacing * 4)
      color: $textColor5
      border: 3px solid $backgroundColor2
      background: #FFF

      p
        margin: 0

