.scale-your-business

  // START phones
  .phone-bb
  .phone-kanoa
  .phone-stoned
    width: 45vw
    position: absolute

    &:nth-child(1)
      left: 45vw
      top: 0
      transform: translateY(-8vw)

    &:nth-child(2)
      left: 70vw
      top: 0
      transform: translateY(-25vw)

    &:nth-child(3)
      left: 55vw
      top: 0
      transform: translateY(-25vw)

  // END phones
