  // START phones
  // .phone-bb
  // .phone-kanoa
  // .phone-stoned
  //   width: 45vw
  //   position: absolute

    // &:nth-child(1)
    //   left: 45vw
    //   top: 0
    //   transform: translateY(-8vw)
    //   img
    //     position: relative
    //     animation: fly-in 1s 1 ease-in-out


    // &:nth-child(2)
    //   left: 70vw
    //   top: 0
    //   transform: translateY(-25vw)
    //   img
    //     position: relative
    //     animation: fly-in 1.2s 1 ease-in-out

    // &:nth-child(3)
    //   left: 55vw
    //   top: 0
    //   transform: translateY(-24vw)

    //   img
    //     position: relative
    //     animation: fly-in 1.3s 1 ease-in-out

    // END phones

.scale-your-business
  .content
    position: relative

    h4
      color: $headerColor2

    &:last-child
      .macbook
        position: absolute
        width: 50vw
        max-width: initial
        top: 0
        left: 0
        transform: translateY(-50%)
      .iphone
        position: absolute
        width: 15vw
        max-width: initial
        top: 0
        left: 27.5vw
        transform: translateY(-25%)

  .title-icon
    max-width: 50px

.blueprint-to-success
  background-color: $backgroundColor2

  h3
    color: $headerColor2

  .background
    mask-image: url('/img/blueprint-mask.svg')
    mask-mode: alpha
    mask-repeat: no-repeat
    mask-position: top center
    mask-size: contain
    position: absolute
    left: 0
    width: 100vw
    height: 100%
    background-color: transparent
    pointer-events: none

    .floating-background
      background: linear-gradient(to bottom, #8e54e9 0%,#6b91bf 25%,#5fb0b7 50%,#5bc8af 75%,#d6f7a3 100%)
      background-attachment: fixed
      z-index: -1
      width: 100vw
      height: 100%

  .group
    width: 50%
    display: inline-block
    position: relative

    &.group-1
      left: 48%
      margin-top: 2%

    &.group-2
      width: 58%
      left: 0%
      margin-top: 5%

    &.group-3
      left: 48%
      margin-top: 3%

    &.group-4
      width: 58%
      left: 0%
      margin-top: 1%

    &.group-5
      left: 48%
      margin-top: 0%

.re-architecting
  background-color: $backgroundColor2
  min-height: 0
  text-align: center
  padding-top: 1rem
  padding-bottom: 2rem
