@keyframes star-blur
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.04)
  }
  100% {
    transform: scale(1)
  }

@keyframes fly-in
  0% {
    left: 500px
    top: 340px
  }
  10% {
    left: 500px
    top: 340px
  }
  100% {
    left: 0
    top: 0
  }
