@require 'reeeset/src/reeeset.css'

@require 'astley.js/src/css/default-settings'
@require 'settings'

@require 'astley.js/src/css/default-font'
@require 'font'

@require 'astley.js/src/css/framework'

@require 'animations'
@require 'page'

@require 'pages/index'
