@require 'reeeset/src/reeeset.css'

@require 'astley.js/src/css/default-palette'

@require 'astley.js/src/css/default-settings'
@require 'settings'

@require 'astley.js/src/css/default-font'
@require 'font'

@require 'astley.js/src/css/framework'

@require 'layout'
@require 'inputs'

@require 'header'
@require 'footer'

@require 'theme'

@require 'astley.js/src/css/material/theme'
// @require 'coin.js/src/css/theme'

// depends on material theme
// @require 'material'

@require 'pages/index'
@require 'pages/commerce'
