/* FOOTER START */
footer
  background-color: #051337
  padding-top: 0

  .footer-small-print
    margin-bottom: 2 * $spacing

    .copyright
      color: #585c62

    +below($tabletWidth)
      .logos
        .logo-image
          height: 80%

/* FOOTER END */
