/* HEADER START */
header
  background-color: transparent

  &:before
    background-color: transparent

  .nav *
    color: $white

  .menu-bodies *
    color: $black

  .menu-link-name
    font-weight: 600

  .menu-link-description
    font-weight: 200

  .complex-menus .menu-wrapper .menu-bodies .menu-body :first-child
    width: 200px

  .mobile-menus .menu-content
    background-color: $grey900

/* HEADER END */


