/* HEADER START */
header.undocked, header.undocked::before
  background-color: $black

header
  height: 64px
  font-size: .95rem
  background-color: transparent

  &:before
    background-color: transparent

  .fade-on-hover
    opacity: 0.8

  .fade-on-hover:hover
    opacity: 1

  .menu-title, .complex-menus a
    color:  white

  .menu-bodies *
    color: $black

  .menu-link-name
    font-weight: 600

  .menu-link-description
    font-weight: 200
    font-size: 0.9em
    color: $bodyLight

  .menu-link:hover .menu-link-text
    filter: brightness(50%)
    // filter: none

  .complex-menus .menu-wrapper .menu-bodies .menu-body :first-child
    width: 200px

  .complex-menus .menu-content, .complex-menus .menu-wrapper
    border-radius: $borderRadius
    box-shadow: $boxShadow

  .menu-wrapper .menu-bodies .menu-body .menu-content
    border-radius: $borderRadius

  .mobile-menus .menu-content
    background-color: $grey900

  .mobile-menus .show-mobile-icon
    top: 5px
    cursor: pointer

  label.close-mobile-icon
    cursor: pointer

header nav, header .nav
  height: 64px

.nav
  margin-top: 5px

header nav .logos .logo-image, header .nav .logos .logo-image
  height: 48px
  margin-top: 2px

header .complex-menus .menu-wrapper.active
  margin-top: -5px

header nav .primary > *, header .nav .primary > *, header nav .secondary > *, header .nav .secondary > *
  padding: 0 0.7rem
  line-height: 52px

/* HEADER END */
