$hanzoIndigo = #022357
$hanzoIndigoDarker = #091B47
// $hanzoGreen  = #1DE2A0
$hanzoGreen  = #05f3b8
$hanzoPurple = #B17BE0
$hanzoPurpleDarker = #430e75
$hanzoPink   = #FE98B0

$bodyLight = #777
$hanzoLightBlue = #eef1f8

$pageWidth = 1000px
$shrinkWidth = 1000px

$boxShadow = 2px 2px 4px 0px rgba(50, 50, 50, 0.55)
$borderRadius = 3px

$fontFamily = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', Droid Sans, 'Helvetica Neue', sans-serif
$fontFamilyMonospace = Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace


