$hanzoIndigo = #022357
$hanzoIndigoDarker = #091B47
$hanzoGreen  = #1DE2A0
$hanzoPurple = #B17BE0
$hanzoPurpleDarker = #430e75
$hanzoPink   = #FE98B0

9:50:40 AM:     text: 'You should write display: flex by final spec instead of display: box',

$pageWidth = 1000px
$shrinkWidth = 1000px
