$hanzoIndigo = #022357
$hanzoIndigoDarker = #091B47
$hanzoGreen  = #1DE2A0
$hanzoPurple = #B17BE0
$hanzoPurpleDarker = #430e75
$hanzoPink   = #FE98B0

$bodyLight = #666

$pageWidth = 1000px
$shrinkWidth = 1000px

$boxShadow = 2px 2px 4px 0px rgba(50, 50, 50, 0.55)
$borderRadius = 3px
