extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 404: Not found
      p The page you are looking for could not be located
