input#demo-form-toggle(type='checkbox')
.modal-form
  label.close-demo-form(for='demo-form-toggle') &#215;

  form#demo-form(action='#', method='POST')
    script(src='//api.hanzo.io/mailinglist/O2uj5dYU0rlxY/js')
    h2 INTERESTED IN A DEMO?
    h4 YOUR INFORMATION
    label You want to use Hanzo as a...
    .options
      input#brand-choice(type='radio', name='type', value='brand', checked)
      label.brand-choice(for='brand-choice') BUSINESS
      input#dev-choice(type='radio', name='type', value='dev')
      label.dev-choice(for='dev-choice') DEVELOPER
    input(type='hidden', name='type')
    label Your Name
    input(type='text', name='name')
    label Your Job
    input(type='text', name='job')
    label Your Website
    input(type='text', name='website')

    h4 COMPANY INFORMATION

    label Your Company
    input(type='text', name='company')
    label Your Email
    input(type='email', name='email')

    h4 TELL US A LITTLE MORE ABOUT YOUR NEEDS
    textarea(name='description', placeholder='Describe what you want to use Hanzo for.')

    button(type='submit').button REQUEST A DEMO

