svg.bg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1170.76 486.79')
  defs
    style.
      .cls-1{fill:url(#linear-gradient);}.cls-2{fill:url(#linear-gradient-2);}.cls-3{fill:url(#linear-gradient-3);}.cls-4{fill:url(#linear-gradient-4);}.cls-5{fill:url(#linear-gradient-5);}
    lineargradient#linear-gradient(x1='-8.91', y1='245.57', x2='1216.5', y2='235.46', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#3c72d0')
      stop(offset='0.21', stop-color='#3b77ce')
      stop(offset='0.61', stop-color='#25d4a7')
      stop(offset='0.97', stop-color='#34e4ea')
    lineargradient#linear-gradient-2(x1='495.59', y1='413.16', x2='751.65', y2='281.54', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#51add5')
      stop(offset='1', stop-color='#4282d1')
    lineargradient#linear-gradient-3(x1='348.44', y1='500.56', x2='1315.92', y2='135.67', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#4997d3')
      stop(offset='1', stop-color='#231651')
    lineargradient#linear-gradient-4(x1='154.26', y1='258.2', x2='239.99', y2='371.14', gradienttransform='translate(-17.9 17.85) rotate(-0.18)', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#4ea4d5')
      stop(offset='1', stop-color='#4282d1')
    lineargradient#linear-gradient-5(x1='1000.79', y1='247.31', x2='1090.71', y2='204.81', gradientunits='userSpaceOnUse')
      stop(offset='0.08', stop-color='#4995d3')
      stop(offset='1', stop-color='#51afd6')
  title Asset 1
  g#Layer_2(data-name='Layer 2')
    g#Hanzo_LP_V3
      g#h1_design_v2(data-name='h1 design v2')
        rect.cls-1(x='0.38', width='1170', height='481.33')
        path.cls-2(d='M476,424.18s30.91-16.07,42-25.15,19.64-16.58,27.84-23.12c6.65-5.3,33.74-26.53,109.47-34.89.06,0,.09.07,0,.09l-48,25.34-20.88,12-9.33,5.81-7.93,4.62-10.61,5.26-17.32,7.47L513.82,412Z')
        path.cls-3(d='M1170.76,127.93s-27.11,66-108.12,104.51-312.28,60.66-415.5,109.64-169.86,116.5-358,86.74S.76,335.33.76,335.33V486.79h1170Z')
        path.cls-4(d='M.26,404.74,0,329.56s266.16,150.85,484.78,92.67c0,0-140.28,82.42-418.23,5.17C66.55,427.4,10.25,409,.26,404.74Z')
        path.cls-5(d='M647.39,341.9s83.34-38.71,193.08-55.38c96.61-14.67,214.57-51.69,249.8-77.71,33.63-24.84,74.51-74.24,80.48-97.2v83.74s-38.82,77-149.68,111.43S647.39,341.9,647.39,341.9Z')
img.bg-stars(src='/img/stars.svg')
