extends /astley.js/src/templates/layout.pug

block pageId
  #commerce

block content
  hero.hero
    .content
      h1 Cutting Edge Commerce API
      h3 Built by developers for developers.
      p.
        Seamlessly support pre-orders, mobile payments, crowdfunding, subscriptions, coupons, discounts, shipping, tax tables and more.
