extends /astley.js/src/templates/layout.pug

block vars
  - var pageId = 'commerce'

block content
  hero.hero
    .content
      h1 Cutting Edge Commerce API
      h3 Built by developers for developers.
      p.
        Seamlessly support pre-orders, mobile payments, crowdfunding, subscriptions, coupons, discounts, shipping, tax tables and more.

  block.examples
     .content
       p.
         Quickly create the custom store your business needs. Optimized cart and checkout experience, automated fulfillment, coupon codes, referrals and affiliate programs.

  block.list-1
    .content.columns.wrap
      .commerce
        img.icon(src='/img/commerce-icons/commerce.svg')
        .text
          h4.title COMMERCE
          p.body Get all of the tools you need to successfully grow your business in one platform.
      .integrations
        img.icon(src='/img/commerce-icons/integrations.svg')
        .text
          h4.title INTEGRATIONS
          p.body Extensive Integrations, Mailchimp, Mandrill, Salesforce, Facebook Ads and more.
      .modular-apis
        img.icon(src='/img/commerce-icons/modular-apis.svg')
        .text
          h4.title MODULAR APIS
          p.body Mix and match, use only the pieces you want, when you want to use them.
      .dashboard
        img.icon(src='/img/commerce-icons/robust-dashboard.svg')
        .text
          h4.title ROBUST DASHBOARD
          p.body Intuitive dashboard displaying actionable insights that matter, in one location.

  block.solutions
    .content
      h3 WE’VE BUILT STABLE AND PROVEN SOLUTIONS FOR ALL OF YOUR CHECKOUT NEEDS NEEDS.
      h4.
        Create beautiful checkout experiences for web
        and mobile, both optimized for conversions.
      a(href='https://getshopjs.com') See Shop.js in action

  block.list-2
    .content.columns.wrap
      .product
        h4.title PRODUCT
        p.body Create, track, import/export your entire catalog. Support the most complex product variants.
      .fulfillment
        h4.title FULFILLMENT
        p.body Automatically have orders fulfilled and statuses synced using our partner fulfillment solutions.
      .inventory
        h4.title INVENTORY
        p.body Manage, track and sync your inventory across Hanzo and other 3rd-party systems.
      .customers
        h4.title CUSTOMERS
        p.body Manage user profiles, order history, shopping behaviors, affiliate and referral data.

    .content
      .image
        img(src='/img/integrations-iphone.png')

  block.solution.columns
    .content.text
      h3 SCALABLE, SERVERLESS, ALL-IN-ONE SOLUTION
      p.
        Hanzo is the most feature-rich ecommerce solution available for all online businesses. Hanzo includes hundreds of advanced
        ecommerce features. You’ll get all of
        the tools you need to create an online
        store and grow your sales. Everything
        is easy to learn and designed to grow with your business.
      a.button.important(href='#') LAUNCH NOW

    .content.image
      img(src='/img/wrench.svg')

  block.summary
    .content
      p.
        Rapidly develop elegant solutions to complex problems using our APIs and webhooks. Our RESTful architecture allows you to code in the language of your choice. Unthrottled API calls support hundreds of requests per second without bottlenecks, letting you parallelize work and improve
        efficiency. All APIs are documented using the Swagger framework.
