extends /astley.js/src/templates/layout.pug

block pageId
  #commerce

block content
  hero.hero
    .content
      h1 Cutting Edge Commerce API
      h3 Built by developers for developers.
      p.
        Seamlessly support pre-orders, mobile payments, crowdfunding, subscriptions, coupons, discounts, shipping, tax tables and more.

  block.examples
     .content
       p.
         Quickly create the custom store your business needs. Optimized cart and checkout experience, automated fulfillment, coupon codes, referrals and affiliate programs.

  block.list-1
    .content.columns.wrap
      .commerce
        img.icon(src='/img/commerce-icons/commerce.svg')
        .text
          h4.title Commerce
          p.body Get all of the tools you need to successfully grow your business in one platform.
      .integrations
        img.icon(src='/img/commerce-icons/integrations.svg')
        .text
          h4.title Integrations
          p.body Extensive Integrations, Mailchimp, Mandrill, Salesforce, Facebook Ads and more.
      .modular-apis
        img.icon(src='/img/commerce-icons/modular-apis.svg')
        .text
          h4.title Modular APIs
          p.body Mix and match, use only the pieces you want, when you want to use them.
      .dashboard
        img.icon(src='/img/commerce-icons/robust-dashboard.svg')
        .text
          h4.title Robust Dashboard
          p.body Intuitive dashboard displaying actionable insights that matter, in one location.

  block.solutions
    .content
      h3 WE’VE BUILT STABLE AND PROVEN SOLUTIONS FOR ALL OF YOUR CHECKOUT NEEDS NEEDS.
      h4.
        Create beautiful checkout experiences for web
        and mobile, both optimized for conversions.
      a(href='https://getshopjs.com') See Shop.js in action
