extends /astley.js/src/templates/layout.pug

block content
  section.hero
    include /astley.js/src/templates/hero.pug
    .content
      h1 Put your business on autopilot
      a.button(href='#') JOIN THE BETA +
      a.button.important(href='#') CHECK OUR OUR DOCS >

  section.scale-your-business
    .phone-bb
      img(src='/img/3diphone_bb_final.png')
    .phone-kanoa
      img(src='/img/3diphone_kanoa_final.png')
    .phone-stoned
      img(src='/img/3diphone_stoned_final.png')

  section.developers-squared
