extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 The new standard in online business
      p.
        Hanzo is a data driven operating system for modern online business.
        Leverage our AI-powered marketing engine to power your forward thinking business.

      // a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >
      a.button.docs-button(for='demo-form-toggle') START NOW
      a.button.important.join-button(href='mailto:hi@hanzo.ai') CONTACT SALES

  section.ai-powered
    .content
      h2 Collect and use the data you need
      p.
        If you can dream it, you can deliver it
        Hanzo’s AI-powered platform and tools saves time and money.  
        Leverage aggregate data at scale and reap the benefits of being apart of our data marketplace.
        Traditional eCommerce Platforms force your business to fit their rigidity. Our APIs enable you to deliver sophisticated commerce experiences, fully customizable to your business, across every digital channel.


    .columns
      .column
        .content
          h3 Collect the right data
          p.
            Easily generate perfectly formatted reports for all your needs.
            Hanzo enables you to simplify, streamline, and orchestrate complex business logic that is fit-for-purpose to your specific requirements.
            Full turnkey solution for all data integration, collected and utilized in one space

        .item.content
          h4 Unleash your vision
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              Traditional eCommerce Platforms that offer a "Headless" option or bolt-on APIs are masking the underlying complexity of their monolith. Hanzo is:
              Headless with composable Microservices, not Headless with a rigid monolithic back-end
        .item.content
          h4 Bring your data to life
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              We work with you to create a data-and analytics-driven strategy, harness the power of AI to maximize insight-driven opportunities, and build a culture of data democracy to enable and empower users.
        
      .content
        h3 Use the data
        p. 
          When you incorporate big data into improved decision analytics, your company can save time, money and resources while also potentially generating superior results across all relevant fronts.
        .item.content
          h4 Sustainable Success
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              Our solutions are designed for the future.  Hanzo provides the necessary infrastructure to fully establish your business online from ecommerce to marketing to shipping and customer support.
        .item.content
          h4 Next-generation Analytics
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              Create cost-effective marketing campaigns. Know when and where to grow. Understand the most ideal time to offer a new product or service. Moderate risk while maximizing the return.
              



  section.support-crypto
    .content
      h2 Our Platform
      p.
        Hanzo's APIs and SDKs provide powerful tools with a flexible commerce API at its core. Whether you're launching a token sale, building a
        marketplace for collectables, or opening an ecommerce store, Hanzo
        enables rapid development of beautiful and secure user experiences.

    .columns
      .column
        .content
          h3 A Complete Solution
          p.
            When it comes to elevating people with the power of data, Hanzo combines a laser focus on how people see and understand data with the kind of robust, scalable platform you need to run even the world’s largest organizations.

        .item.content
          h4 The complete toolkit for internet business
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              Hanzo builds the most powerful and flexible tools for internet commerce. Whether you’re creating a subscription service, an on-demand marketplace, an e-commerce store, or a crowdfunding platform, Hanzo’s meticulously designed APIs and unmatched functionality help you create the best possible product for your users. Millions of the world’s most innovative technology companies are scaling faster and more efficiently by building their businesses on Hanzo.

        .item.content
          h4 Always Improvement
          .columns
            div
              i.fas.fa-users.fa-3x
            p.
              Hanzo is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Hanzo stack. Hanzo means you get early access to the latest technologies.

      .column
        .content
          h3 Global Scale
          p.
            We help power businesss globabally across nearly every industry. Headquartered in Los Angeles, Hanzo is working to help transform how modern businesses are built and run.

        .item.content
          h4 Engineering at scale
          .columns
            div
              i.fas.fa-cubes.fa-3x
            p.
              Enterprise-grade commerce infrastructure.  
              Effortlessly handling millions of API calls per day.
              Engineered for building and operating software systems at scale.
        .item.content
          h4 Support for the developer community
          .columns
            div
              i.fas.fa-code.fa-3x
            p.
              We actively contribute to open-source projects—giving back to the community through development, patches, and sponsorships.
  section.developers-first
    .content
      h2 Designed for developers
      p.
        We measure success in how little code you have to write.
        Quickly integrate Hanzo with our well documented SDKs and numerous
        APIs. Our scalable platform is battle-tested and engineered for high
        availability. Hanzo lets you focus on your product and helps you ship
        new features faster.

    .columns
      .column
        .item.content
          .columns
            div
              i.fas.fa-cubes.fa-3x
            p.
              Focus on Development, not DevOps. Launch nodes for public or
              private blockchains and effortlessly scale to meet any demand.

        .item.content
          .columns
            div
              i.fas.fa-file-alt.fa-3x
            p.
              World-class <a href='https://docs.hanzo.ai'>documentation,
              libraries, and contracts</a> make building blockchains and
              decentralized applications easy.

      .column
        .item.content
          .columns
            div
              i.fas.fa-code-branch.fa-3x
            p.
              Use the tools and workflow you already know and love. Deploy
              smart contracts straight from GitHub and re-deploy whenever you
              push updates.

        .item.content
          .columns
            div
              i.fas.fa-comments.fa-3x
            p.
              Need help? <a href='https://docs.hanzo.ai/discuss'>Ask us anything</a>. Or
              <a href='https://gitter.im/hanzoai/chat'>join us on Gitter</a> and chat
              with our friendly engineers. Need a custom solution? <a
              href="mailto:hi@hanzo.ai">Contact us</a>.
  hero.second-hero
    .content
      h1 Brains + Software
      p.
        Want to supercharge your organization?
        We provide the brains and the software to power your company’s success.
        We have the talent and tools to handle design, marketing, and engineering.
        Sensei provides essential training and ongoing support to your team as needed.
        Our team of experts is now available to accelerate your success.

      a.button.docs-button((for='mailto:hi@hanzo.ai') PARTNER WITH SENSEI
      a.button.important(href='https://sensei.group') LEARN MORE

  a(name='cta')
  cta.get-started.columns
    .content
      h2 READY TO GET STARTED?
    .content
      a.button.docs-button.join-button(href='mailto:hi@hanzo.ai') CONTACT SALES
      a.button.important(for='demo-form-toggle') START NOW
fsd
  //- a(name='cta')
  //- cta.get-started.columns
  //-   .content
  //-     h2 
  //-     p.
  //-       We provide the brains and the software to power your company’s success.
  //-       We have the talent and tools to handle design, marketing, and engineering.
  //-       Our team of experts is now available to accelerate your success.
  //-   .content
  //-     a.button.docs-button(for='demo-form-toggle') SENSEI


  include _demo-form.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug
