extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 Blockchain for business
      p.
        Hanzo is a blockchain-as-a-service that enables any business to launch
        and operate blockchain networks, develop decentralized applications and
        deliver compelling experiences.

      // a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS ›
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  section.support-crypto
    .content
      h2 Built for decentralized business
      p.
        Hanzo's APIs and SDKs provide flexible and powerful tools for building
        decentralized apps. Whether you're launching a token sale, building a
        marketplace for collectables, or opening an ecommerce store, Hanzo
        enables rapid development of beautiful and secure user experiences.

    .columns
      .column
        .content
          h3 Flexible Payments
          p.
            Hanzo Payments enables simple, secure payments and wallet
            management. Process crypto or fiat payments and automatically
            receive settlements in the cryptocurrency of your choice with zero
            price risk or volatility.

        .item.content
          h4 Wallet solutions for any user
          .columns
            i.fas.fa-id-card.fa-4x
            p.
              Tools for creating custodial and non-custodial wallets allow you to
              prioritize ease-of-use or top-of-the-line security based on your
              customer.

        .item.content
          h4 Multi-signature accounts
          .columns
            i.fas.fa-users.fa-4x
            p.
              Secure, multi-asset account management for individuals, businesses
              and instituations. Native multi-signature wallets for Bitcoin and
              Ethereum.

        .item.content
          h4 Write less code
          .columns
            i.fas.fa-code.fa-4x
            p.
              Take advantage of cryptocurrencies without being a blockchain
              expert. With one, unified crypto-commerce platform you can easily
              support new currencies, payment methods and business models.

      .column
        .content
          h3 Smarter Contracts
          p.
            Launch and manage entire token ecosystems and programmatically
            deploy contracts with built-in security features. Deploy Airdrop,
            Collectible, ICO, and Referral contracts with the push of a button.

        .item.content
          h4 DIY meets reliability
          .columns
            i.fas.fa-wrench.fa-4x
            p.
              Our smart contracts are customizable to your specification. Just
              start with on of our foundational templates and build from there.

        .item.content
          h4 Zero worry Smart Contracts
          .columns
            i.far.fa-star.fa-4x
            p.
              Hanzo Smart Contracts are tried, tested, always effective, and
              customizable to reach your goals. Built-in fraud prevention keeps
              you and your users safe.

        .item.content
          h4 Manage Smart Contracts
          .columns
            i.fas.fa-cogs.fa-4x
            p.
              The Hanzo Dashboard provides a powerful interface for deploying and
              managing smart contracts. Manage token sales and marketplaces,
              audit transactions, and gain insight into your business.

  section.developers-first
    .content
      h2 Designed for developers
      p.
        We measure success in how little blockchain code you have to write.
        Quickly integrate Hanzo with our well documented SDKs and numerous
        APIs. Our scalable platform is battle-tested and engineered for high
        availability. Hanzo lets you focus on your product and helps you ship
        new features faster.

    .columns
      .column
        .item.content
          .columns
            i.fas.fa-cubes.fa-4x
            p.
              Libraries that play nice with your existing stack for desktop, web,
              iOS, and Android in every language — from JavaScript and Swift to
              Python and Go.

        .item.content
          .columns
            i.fas.fa-file-alt.fa-4x
            p.
              <a href='https://docs.hanzo.ai'>World-class documentation, guides,
              and recipes</a> that make building blockchains and decentralized
              applications easy.

      .column
        .item.content
          .columns
            i.fas.fa-code-branch.fa-4x
            p.
              Infrastructure that lets you focus on development, not devops.
              Easily launch private or public blockchain clusters that can scale
              to meet any demand.

        .item.content
          .columns
            i.fas.fa-comments.fa-4x
            p.
              Need help? <a href='https://docs.hanzo.ai/discuss'>Ask us anything</a>. Or
              <a href='https://gitter.im/hanzoai/chat'>join us on Gitter</a> and chat
              with our friendly engineers!

  a(name='cta')
  cta.get-started.columns
    .content
      h2 READY TO GET STARTED?
    .content
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS ›
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  include _demo-form.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug

