extends _layout.pug

block content
  section.hero
    include _hero.pug
    .content
      h1 Put your business on autopilot
      a.button(href='#') JOIN THE BETA +
      a.button.important(href='#') CHECK OUR OUR DOCS >

  section.scale-your-business
    img.phone-bb(src='/img/3diphone_bb_final.png')
    img.phone-kanoa(src='/img/3diphone_kanoa_final.png')
    img.phone-stoned(src='/img/3diphone_stoned_final.png')

  section.developers-squared
