extends _layout.pug

block content
  section.hero
    include _hero.pug
    .content
      h1 Put your business on autopilot
      a.button(href='#') JOIN THE BETA +
      a.button.important(href='#') CHECK OUR OUR DOCS >

  .first-jaggy

  section.scale-your-business

  section.developers-squared
