extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 Blockchain doesn't have to be hard
      p.
        Using Hanzo, any business can launch and operate a blockchain network,
        power decentralized applications and deliver compelling experiences.

      // a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS >
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  section.support-crypto
    .content
      h2 Built for decentralized businesses
      p.
        Hanzo's APIs and SDKs provide powerful and secure tools for building
        decentralized businesses. Whether you're launching a token sale,
        building a marketplace for collectables, or opening an ecommerce store,
        Hanzo enables beautiful and secure user experiences.

    .columns
      .column
        .content
          h3 Flexible Payments
          p.
            Hanzo's payment tools enable simple, secure payments and wallet
            management. Receive settlement for Bitcoin or Ethereum payments
            directly into your bank account in your own currency with zero
            price risk or volatility.

        .content
          h4 Wallet solutions for any user
          p.
            Tools for creating custodial and non-custodial wallets allow you to
            prioritize ease-of-use or top-of-the-line security based on your
            customer.

        .content
          h4 Multi-signature accounts
          p.
            Secure, multi-asset account management for individuals, businesses
            and instituations. Native multi-signature wallets for Bitcoin and
            Ethereum.

        .content
          h4 Write less code
          p.
            Take advantage of the power of cryptocurrencies without being a
            blockchain expert. With one, unified crypto-commerce platform you
            can easily support new currencies, payment methods and business
            models. Stay ahead of the curve with our flexible, adaptable tools.

      .column
        .content
          h3 Smarter Contracts
          p.
            Programmatic transactions, complex agreements and automatic
            enforcement with zero counterparty risk on any blockchain. Hanzo is
            the easiest way to deploy and manage smart contracts.

        .content
          h4 Zero worry Smart Contracts
          p.
            Hanzo smart contracts are tried, tested, always effective, and
            customizable to reach your goals. With built-in fraud prevention
            and backed by our entire network of security data, our smart
            contracts are the most reliable available.

        .content
          h4 DIY meets reliability
          p.
            Our smart contracts are customizable to your specification. Just
            start with on of our foundational templates and build from there.
            - ICOs
            - Airdrops
            - Collectibles
            - Referrals

        .content
          h4 Manage Smart Contracts
          p.
            The Hanzo Dashboard provides a powerful interface for deploying and
            managing smart contracts. Manage token sales and white lists, audit
            transactions, measure usage and gain insight into your business.

  section.developers-first
    .content
      h2 Designed for developers
      p.
        We measure success in how little blockchain code you have to write.
        Quickly integrate Hanzo with our well documented SDKs and numerous
        APIs. Our scalable platform is battle-tested and engineered for high
        availability. Hanzo lets you focus on your product and helps you ship
        new features faster.

    .columns
      .column
        .content
          p.
            Libraries that play nice with your existing stack for desktop, web,
            iOS, and Android in every language—from JavaScript and Swift to
            Python and Go.

        .content
          p.
            World-class documentation, guides, and recipes that make building
            blockchains and decentralized applications simple and easy.

      .column
        .content
          p.
            Focus on development, not devops. Our scalable and reliable
            infrastructure lets quickly launch and scale private or public
            blockchain clusters.

        .content
          p.
            Need help? Chat with our friendly engineers anytime you get stuck!
            Find us in #hanzo on Freenode.

  a(name='cta')
  cta.get-started.columns
    .content
      h2 READY TO GET STARTED?
    .content
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS >
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  include _demo-form.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug

