extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 Blockchain Payments For Every Business
      p.
        Hanzo is a complete solution for simple and secure
        blockchain payments.  Our crypto payments and smart contract APIs bring
        your business to the cutting edge.
      // a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS >
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  section.support-crypto
    .content
      h2 Support Crypto Commerce in Every Form
      p.
        Hanzo APIs are the most powerful and secure tools for building
        decentralized businesses.  Whether you're launching a token sale,
        building a market place for collectables, creating subscriptions
        service, or openning an ecommerce store, Hanzo's APIs will create the
        smoothest and most secure experience for your customers.

    .columns
      .column
        .content
          h3 Flexible Payments
          p.
            Hanzo's payment tools enable simple, secure payments, and wallet
            management. Receive settlement for bitcoin or ethereum payments
            directly into your bank account in your own currency with zero price
            risk or volatility.
        .content
          h4 Wallet Solutions For Any User
          p
        .content
          h4 Write Less Code
          p
      .column
        .content
          h3 Smart Contract Powered Businesses
        .content
          h4 Zero Worry Smart Contracts
          p
        .content
          h4 DIY Meets Reliability
          p
        .content
          h4 Manage Smart Contracts
          p

  section.developers-first
    .content
      h2 Developers First
      p.
        We measure our success in how little payment code you have to write.
        Quickly integrate our simple, composeable APIs that are battle-tested
        for scale and build for highl availabity. Hanzo lets you spend your
        development time on product improvements and ship them faster.

    .columns
      .column
        .content
          p
        .content
          p
      .column
        .content
          p
        .content
          p

  a(name='cta')
  cta.get-started.columns
    .content
      h2 READY TO GET STARTED?
    .content
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS >
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  include _demo-form.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug

