extends /astley.js/src/templates/layout.pug

block pageId
  #index

block content
  hero.hero
    .content
      h1 Your Business Autopilot
      h3 Powered by Intelligence
      a.button(href='#cta') JOIN THE BETA +
      a.button.important(href='https://doc.hanzo.io') CHECK OUR DOCS >

  block.scale-your-business.flex-columns.full
    .content
      img.title-icon(src='/img/icons/increase-sales.svg')
      h4 INCREASE YOUR SALES NOW USING HANZO
      p.
        With only a couple of lines of code,
        Hanzo transforms any existing
        HTML site into an advanced, fully
        functioning ecommerce store built
        on top of a marketing engine that
        we've proven drives growth.
      a(href='#') For rapid growth, join now
    .content
      img.macbook(src='/img/macbook-dashboard.png')
      img.iphone(src='/img/phone-bb.png')

  block.blueprint-to-success
    .background
      .floating-background

    .content.group.group-1
      h3 BLUEPRINT TO SUCCESS
      h4 VALIDATE IDEAS
      p.
        Run automated multivariate experiments to prove
        your product has a market.

    .content.group.group-2
      h4 OPTIMIZED CHECKOUT COMPONENTS
      p.
        Ensure you are not losing sales by using checkouts
        optimized for conversions.

    .content.group.group-3
      h4 INTELLIGENT DATA - DRIVEN ADVERTISING
      p.
        Put your online advertising on autopilot and automagically
        increase sales.

    .content.group.group-4
      h4 INTUITIVE PRODUCT, ORDER AND CUSTOMER MANAGEMENT
      p.
        Use only one platform to smoothly manage
        everything related to your business.

    .content.group.group-5
      h4 AUTOMATED FULFILLMENT SOLUTIONS
      p.
        Eliminate your shipping department and leverage one of
        our fulfillment solutions.

  block.re-architecting
    p.
      During our private beta, we've launched over two dozen products on our platform and grew the revenue of the top 25% of companies we work with to over $1 million
      dollars a month in recurring revenue.
    p.
      We're re-architecting ecommerce from the ground up.

  block.success-stories.flex-columns
    .content.story.kanoa-story
      .image
        img(src='/img/kanoa.png')
      p.
        Over $10 million in pre-orders.

    .content.story.skully-story
      .image
        img(src='/img/skully.png')
      p.
        Over $5 million in pre-orders.

    .content.story.bb-story
      .image
        img(src='/img/bb.png')
      p.
        $1M and 200k subscribers

  block.hanzo-products.flex-columns
    .content.card.analytics-card
      .image
      h4 HANZO ANALYTICS
      p Real time actionable insights. Fully integrated from day one.
    .content.card.commerce-card
      .image
      h4 HANZO COMMERCE
      p Checkout optimized for convertions. Proven mobile checkout experience.
    .content.card.marketing-card
      .image
      h4 HANZO MARKETING
      p AI optimized marketing. Meet your automated sales engine.

  block.developer-playground
    .content
      h3 SIMPLICITY: BY DEVELOPERS FOR DEVELOPERS
      .flex-columns
        h4 RESTFUL APIS
        h4 AGILE FRAMEWORKS
        h4 RESPONSIVE DEFAULTS
      p.
        Our composable orthogonal APIs can support business needs and enable developers the flexibility to adapt to any infrastructure.

  block.partner-integrations
    .content
      h3 HANZO PARTNER INTEGRATIONS

      .logos.flex-columns
        .logo.kickstarter
        .logo.indiegogo
        .logo.stripe
        .logo.paypal
        .logo.mailchimp
        .logo.github

  block.misc-facts.flex-columns
    .content.card.always-exploring
      img(src='/img/always-exploring.svg')
      h4 ALWAYS IMPROVING
      p.
        Our world-class engineering team constantly iterates
        upon every facet of the Hanzo stack while gaining
        new features every month. From payments to advertising,
        using Hanzo means you can keep up with the latest
        technologies.

      a(href='#') More About Us

    .content.card.global-engine
      img(src='/img/global-engine.svg')
      h4 GLOBAL ENGINE
      p.
        We help power businesses
        worldwide and across nearly every industry.
        Headquartered in the United States, Hanzo
        is working to help transform how modern businesses
        are built and run globally.

      a(href='#') More About Us

  cta.get-started.flex-columns
    a(name='cta')
    .content
      h3 READY TO GET STARTED?
      p Get in touch or sign up for the closed beta.
    .content
      label.button.important(for='demo-form-toggle') REQUEST A DEMO

  input#demo-form-toggle(type='checkbox')
  .modal-form
    label.close-demo-form(for='demo-form-toggle') &#215;

    form#demo-form(action='#', method='POST')
      script(src='//api.hanzo.io/mailinglist/O2uj5dYU0rlxY/js')
      h2 INTERESTED IN A DEMO?
      h4 YOUR INFORMATION
      label You want to use Hanzo as a...
      .options
        input#brand-choice(type='radio', name='type', value='brand', checked)
        label.brand-choice(for='brand-choice') RETAILER OR BRAND
        input#dev-choice(type='radio', name='type', value='dev')
        label.dev-choice(for='dev-choice') DEVELOPER
      input(type='hidden', name='type')
      label Your Name
      input(type='text', name='name')
      label Your Job
      input(type='text', name='job')
      label Your Website
      input(type='text', name='website')

      h4 COMPANY INFORMATION

      label Your Company
      input(type='text', name='company')
      label Your Email
      input(type='email', name='email')

      h4 TELL US A LITTLE MORE ABOUT YOUR NEEDS
      textarea(name='description', placeholder='Describe what you want to use Hanzo for.')

      button(type='submit').button Request a Demo
