extends /astley.js/src/templates/layout.pug

block pageId
  #index

block content
  hero.hero
    .content
      h1 Foundation of Your Blockchain Business
      h3 Powered by Intelligence
      label.button.important(for='demo-form-toggle') JOIN THE BETA +
      a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >

  block.scale-your-business.columns.full
    .content
      img.title-icon(src='/img/icons/increase-sales.svg')
      h4 BUILD YOUR BLOCKCHAIN BUSINESS FROM THE GROUND UP
      p.
        Hanzo provides a suite of APIs to grow 
        your company and take advantage of the 
        power of the blockchain. Our tools make 
        blockchain payments easy and drives growth
        for your business. You can focus on building 
        what you’re passionate about and 
        leave the rest to us. 
      a(href='#') For rapid growth, join now
    .content
      img.macbook(src='/img/macbook-dashboard.png')
      img.iphone(src='/img/phone-bb.png')

  block.blueprint-to-success
    .background
      .floating-background

    .content.group.group-1
      h3 BLOCKCHAIN BLUEPRINT
      h4 BLOCKCHAIN PAYMENTS
      p.
        Whether you’re an online store looking to diversify into crypto, or a 
        next generation company focused on the blockchain,our tools will make 
        payments smooth for you and your customers. 

    .content.group.group-2
      h4 WALLET
      p.
        Our blockchain wallet allows organizations and individual users to 
        securely manage their incoming and outgoing cryptocurrency 
        funds.  

    .content.group.group-3
      h4 ECOMMERCE
      p.
        Our ecommerce tools allow any blockchain company to run 
        as smoothly as a traditional company, with support for 
        products, users and order management. 
        
    .content.group.group-4
      h4 MARKETING
      p.
        Our proven referral and affiliate marketing 
        tools will help any company increase their users and compensate 
        partners with BTC, ETH or other tokens. 

    .content.group.group-5
      h4 ANALYTICS
      p.
        Our analytics give you the most insight into a new generation of 
        customers so that you can connect with your perfect audience. 

  block.re-architecting
    p.
      During our private beta, we've launched over two dozen products on our platform and grew the revenue of the top 25% of companies we work with to over $1 million
      dollars a month in recurring revenue.
    p.
      We're re-architecting ecommerce from the ground up.

  block.success-stories.columns
    .content.story.kanoa-story
      .image
        img(src='/img/kanoa.png')
      p.
        Over $10 million in pre-orders.

    .content.story.skully-story
      .image
        img(src='/img/skully.png')
      p.
        Over $5 million in pre-orders.

    .content.story.bb-story
      .image
        img(src='/img/bb.png')
      p.
        $1M and 200k subscribers

  block.hanzo-products.columns
    .content.card.analytics-card
      .image
      h4 ICOs
      p. 
        Companies running TGEs have all the tools they need to support and manage users, accept payments and spread the word. 
    .content.card.commerce-card
      .image
      h4 CRYPTO ECOMMERCE
      p. 
        Ecommerce companies hoping to accept crypto can now easily manage different 
        currencies in one platform.
    .content.card.marketing-card
      .image
      h4 BLOCKCHAIN FIRST
      p. 
        Blockchain exclusive companies are given the tools to enable a smooth user 
        experience and simple, secure management of resources. .

  block.developer-playground
    .content
      h3 SIMPLICITY: BY DEVELOPERS FOR DEVELOPERS
      .columns
        h4 RESTFUL APIS
        h4 AGILE FRAMEWORKS
        h4 RESPONSIVE DEFAULTS
      p.
        Our composable orthogonal APIs can support business needs and enable developers the flexibility to adapt to any infrastructure.

  block.partner-integrations
    .content
      h3 HANZO PARTNER INTEGRATIONS

      .logos.columns
        .logo.kickstarter
        .logo.indiegogo
        .logo.stripe
        .logo.paypal
        .logo.mailchimp
        .logo.github

  block.misc-facts.columns
    .content.card.always-exploring
      img(src='/img/always-exploring.svg')
      h4 ALWAYS IMPROVING
      p.
        Our world-class engineering team constantly iterates
        upon every facet of the Hanzo stack while gaining
        new features every month. From payments to advertising,
        using Hanzo means you can keep up with the latest
        technologies.

      a(href='#') More About Us

    .content.card.global-engine
      img(src='/img/global-engine.svg')
      h4 GLOBAL ENGINE
      p.
        We help power businesses
        worldwide and across nearly every industry.
        Headquartered in the United States, Hanzo
        is working to help transform how modern businesses
        are built and run globally.

      a(href='#') More About Us

  cta.get-started.columns
    a(name='cta')
    .content
      h3 READY TO GET STARTED?
      p Get in touch or sign up for the closed beta.
    .content
      label.button.important(for='demo-form-toggle') REQUEST A DEMO

  include _demo-form.pug

