extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero
    .content
      h1 Blockchain for business
      p.
        Hanzo is a blockchain-as-a-service that enables any business to launch
        and operate blockchain networks, develop decentralized applications and
        deliver compelling experiences.

      // a.button(href='https://docs.hanzo.io') CHECK OUR DOCS >
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS ›
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  section.support-crypto
    .content
      h2 Built for decentralized business
      p.
        Hanzo's APIs and SDKs provide flexible and powerful tools for building
        decentralized apps. Whether you're launching a token sale, building a
        marketplace for collectables, or opening an ecommerce store, Hanzo
        enables rapid development of beautiful and secure user experiences.

    .columns
      .column
        .content
          h3 Flexible Payments
          p.
            Hanzo Payments enables simple, secure payments and wallet
            management. Process crypto or fiat payments and automatically
            receive settlements in the cryptocurrency of your choice with zero
            price risk or volatility.

        .item.content
          h4 Wallet solutions for any user
          .columns
            div
              i.fas.fa-id-card.fa-3x
            p.
              Tools for creating custodial and non-custodial wallets allow you to
              prioritize ease-of-use or top-of-the-line security based on your
              customer.

        .item.content
          h4 Multi-signature accounts
          .columns
            div
              i.fas.fa-users.fa-3x
            p.
              Secure, multi-asset account management for individuals,
              businesses and institutions. Native multi-signature wallets for
              Bitcoin and Ethereum.

        .item.content
          h4 Write less code
          .columns
            div
              i.fas.fa-code.fa-3x
            p.
              Take advantage of blockchain technology without being an
              expert. With one, unified crypto-commerce platform support
              new currencies, payment methods and business models.

      .column
        .content
          h3 Smarter Contracts
          p.
            Launch and manage entire token ecosystems and programmatically
            deploy contracts with built-in security features. Deploy Tokens,
            Airdrops, Collectibles and Referral contracts in less than a
            minute.

        .item.content
          h4 DIY meets reliability
          .columns
            div
              i.fas.fa-wrench.fa-3x
            p.
              Our smart contracts are customizable to your specification. Just
              start with one of our foundational templates and build from
              there.

        .item.content
          h4 Zero worry Smart Contracts
          .columns
            div
              i.far.fa-star.fa-3x
            p.
              Safely develop more reliable smart contracts than ever
              before thanks to built-in versioning, automated deployments and
              rollback.

        .item.content
          h4 Manage Smart Contracts
          .columns
            div
              i.fas.fa-cogs.fa-3x
            p.
              All your smart contracts in one place. Use Hanzo Dashboard to
              manage token sales and marketplaces, audit transactions, and gain
              insight into your business.

  section.developers-first
    .content
      h2 Designed for developers
      p.
        We measure success in how little blockchain code you have to write.
        Quickly integrate Hanzo with our well documented SDKs and numerous
        APIs. Our scalable platform is battle-tested and engineered for high
        availability. Hanzo lets you focus on your product and helps you ship
        new features faster.

    .columns
      .column
        .item.content
          .columns
            div
              i.fas.fa-cubes.fa-3x
            p.
              Focus on Development, not DevOps. Launch public or private
              clusters of blockchain nodes and effortlessly scale to meet any
              demand.

        .item.content
          .columns
            div
              i.fas.fa-file-alt.fa-3x
            p.
              World-class <a href='https://docs.hanzo.ai'>documentation,
              libraries, and contracts</a> make building blockchains and
              decentralized applications easy.

      .column
        .item.content
          .columns
            div
              i.fas.fa-code-branch.fa-3x
            p.
              Use the tools and workflow you already know and love. Deploy
              smart contracts straight from GitHub and re-deploy whenever you
              push updates.

        .item.content
          .columns
            div
              i.fas.fa-comments.fa-3x
            p.
              Need help? <a href='https://docs.hanzo.ai/discuss'>Ask us anything</a>. Or
              <a href='https://gitter.im/hanzoai/chat'>join us on Gitter</a> and chat
              with our friendly engineers. Need a custom solution? <a
              href="mailto:hi@hanzo.ai">Contact us</a>.

  a(name='cta')
  cta.get-started.columns
    .content
      h2 READY TO GET STARTED?
    .content
      a.button.docs-button(href='https://docs.hanzo.io') BROWSE THE DOCS ›
      label.button.important.join-button(for='demo-form-toggle') JOIN THE BETA +

  include _demo-form.pug

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug

