extends /astley.js/src/templates/layout.pug

block content
  hero.hero
    .content
      h1 Your Business Autopilot
      h3 Powered by Intelligence
      a.button(href='#') JOIN THE BETA +
      a.button.important(href='#') CHECK OUR DOCS >

  block.scale-your-business.flex-columns
    .content
      img.title-icon(src='/img/icons/increase-sales.svg')
      h4 INCREASE YOUR SALES NOW USING HANZO
      p.
        With only a couple of lines of code,
        Hanzo transforms any existing
        HTML site into an advanced, fully
        functioning ecommerce store built
        on top of a marketing engine that
        we've proven drives growth.
      a(href='#') For rapid growth, join now
    .content
      img.macbook(src='/img/macbook-dashboard.png')
      img.iphone(src='/img/phone-bb.png')

  block.blueprint-to-success
    .background
      .floating-background

    .content.group.group-1
      h3 BLUEPRINT TO SUCCESS
      h4 VALIDATE IDEAS
      p.
        Run automated multivariate experiments to prove
        your product has a market.

    .content.group.group-2
      h4 OPTIMIZED CHECKOUT COMPONENTS
      p.
        Ensure you are not losing sales by using checkouts
        optimized for conversions.

    .content.group.group-3
      h4 INTELLIGENT DATA - DRIVEN ADVERTISING
      p.
        Put your online advertising on autopilot and automagically
        increase sales.

    .content.group.group-4
      h4 INTUITIVE PRODUCT, ORDER AND CUSTOMER MANAGEMENT
      p.
        Use only one platform to smoothly manage
        everything related to your business.

    .content.group.group-5
      h4 AUTOMATED FULFILLMENT SOLUTIONS
      p.
        Eliminate your shipping department and leverage one of
        our fulfillment solutions.

  block.re-architecting
    p.
      During our private beta, we've launched over two dozen products on our platform and grew the revenue of the top 25% of companies we work with to over $1 million
      dollars a month in recurring revenue.
    p.
      We're re-architecting ecommerce from the ground up.


