html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='content-type')
    style(type='text/css') ul.lst-kix_czxyp1hgjisw-8{list-style-type:none}ul.lst-kix_czxyp1hgjisw-6{list-style-type:none}ul.lst-kix_czxyp1hgjisw-7{list-style-type:none}ul.lst-kix_kn3st3s94s0q-5{list-style-type:none}ul.lst-kix_kn3st3s94s0q-6{list-style-type:none}ul.lst-kix_kn3st3s94s0q-7{list-style-type:none}ul.lst-kix_kn3st3s94s0q-8{list-style-type:none}ul.lst-kix_kn3st3s94s0q-1{list-style-type:none}ul.lst-kix_kn3st3s94s0q-2{list-style-type:none}ul.lst-kix_kn3st3s94s0q-3{list-style-type:none}ul.lst-kix_kn3st3s94s0q-4{list-style-type:none}ul.lst-kix_kn3st3s94s0q-0{list-style-type:none}.lst-kix_brpyb862x8wy-3>li:before{content:"\0025cf  "}.lst-kix_brpyb862x8wy-4>li:before{content:"\0025cb  "}ul.lst-kix_brpyb862x8wy-4{list-style-type:none}.lst-kix_brpyb862x8wy-6>li:before{content:"\0025cf  "}ul.lst-kix_brpyb862x8wy-5{list-style-type:none}.lst-kix_brpyb862x8wy-5>li:before{content:"\0025a0  "}ul.lst-kix_brpyb862x8wy-6{list-style-type:none}.lst-kix_brpyb862x8wy-7>li:before{content:"\0025cb  "}ul.lst-kix_brpyb862x8wy-7{list-style-type:none}ul.lst-kix_brpyb862x8wy-8{list-style-type:none}.lst-kix_kn3st3s94s0q-7>li:before{content:"\0025cb  "}.lst-kix_kn3st3s94s0q-6>li:before{content:"\0025cf  "}.lst-kix_brpyb862x8wy-2>li:before{content:"\0025a0  "}.lst-kix_brpyb862x8wy-1>li:before{content:"\0025cb  "}.lst-kix_kn3st3s94s0q-4>li:before{content:"\0025cb  "}.lst-kix_brpyb862x8wy-0>li:before{content:"\0025cf  "}.lst-kix_brpyb862x8wy-8>li:before{content:"\0025a0  "}.lst-kix_kn3st3s94s0q-5>li:before{content:"\0025a0  "}.lst-kix_kn3st3s94s0q-2>li:before{content:"\0025a0  "}.lst-kix_kn3st3s94s0q-3>li:before{content:"\0025cf  "}.lst-kix_kn3st3s94s0q-0>li:before{content:"\0025cf  "}ul.lst-kix_brpyb862x8wy-0{list-style-type:none}ul.lst-kix_brpyb862x8wy-1{list-style-type:none}.lst-kix_kn3st3s94s0q-1>li:before{content:"\0025cb  "}ul.lst-kix_brpyb862x8wy-2{list-style-type:none}ul.lst-kix_brpyb862x8wy-3{list-style-type:none}.lst-kix_czxyp1hgjisw-2>li:before{content:"\0025a0  "}.lst-kix_czxyp1hgjisw-1>li:before{content:"\0025cb  "}.lst-kix_czxyp1hgjisw-5>li:before{content:"\0025a0  "}.lst-kix_czxyp1hgjisw-6>li:before{content:"\0025cf  "}.lst-kix_czxyp1hgjisw-0>li:before{content:"\0025cf  "}.lst-kix_czxyp1hgjisw-8>li:before{content:"\0025a0  "}.lst-kix_czxyp1hgjisw-7>li:before{content:"\0025cb  "}ul.lst-kix_czxyp1hgjisw-0{list-style-type:none}ul.lst-kix_czxyp1hgjisw-1{list-style-type:none}ul.lst-kix_czxyp1hgjisw-4{list-style-type:none}ul.lst-kix_czxyp1hgjisw-5{list-style-type:none}ul.lst-kix_czxyp1hgjisw-2{list-style-type:none}ul.lst-kix_czxyp1hgjisw-3{list-style-type:none}.lst-kix_kn3st3s94s0q-8>li:before{content:"\0025a0  "}.lst-kix_czxyp1hgjisw-4>li:before{content:"\0025cb  "}.lst-kix_czxyp1hgjisw-3>li:before{content:"\0025cf  "}ol{margin:0;padding:0}table td,table th{padding:0}.c6{background-color:#ffffff;color:#0d2b3e;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:15pt;font-family:"Arial";font-style:normal}.c1{background-color:#ffffff;color:#373e42;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11.5pt;font-family:"Arial";font-style:normal}.c7{margin-left:36pt;padding-top:12pt;padding-left:0pt;padding-bottom:4pt;line-height:1.6956521739130435;orphans:2;widows:2;text-align:left}.c11{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c4{padding-top:0pt;padding-bottom:0pt;line-height:1.6956521739130435;orphans:2;widows:2;text-align:left}.c2{margin-left:3pt;padding-top:14pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c12{padding-top:-12pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c5{background-color:#ffffff;font-size:11.5pt;color:#0099e5;text-decoration:underline}.c9{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c0{background-color:#ffffff;font-size:11.5pt;color:#0d2b3e}.c3{background-color:#ffffff;font-size:11.5pt;color:#373e42}.c10{padding:0;margin:0}.c8{color:inherit;text-decoration:inherit}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
  body.c9
    h3.c12#h.ok58i8qdjri0
      span.c6 Welcome to Hanzo!
    p.c4
      span.c3 Privacy and online safety are important to Hanzo. We offer a software platform and services for helping run an internet business. We collect data about businesses and their customers (“
      span.c0 Data
      span.c3 ”) when they use the platform, the services, and our websites (collectively, “
      span.c0 Services
      span.c1 ”). This privacy policy describes how we collect, use and disclose Data.
    p.c4
      span.c3 In this privacy policy, we sometimes refer to “You”. “
      span.c0 You
      span.c3 ” may be a visitor to one of our websites, a user of one or more of our Services (
      span.c0 “User”
      span.c3 ), or a customer of a User (
      span.c0 “Customer”
      span.c1 ). We’ll do our best to clarify who we are referring to at various points in the policy. This policy does not apply to third-party websites, products, or services even if they link to our Services, and You should consider the privacy practices of those third-parties carefully. If You disagree with the practices described in this policy, You should (a) take the necessary steps to remove cookies from Your computer after leaving our website, and (b) discontinue Your use of our Services.
    h3.c2#h.bngnniw26djh
      span.c6 1. Overview
    p.c4
      span.c1 The Data we collect depends on how our Services are used. Sometimes we receive Data directly, such as when a Hanzo account is created, test transactions are submitted through our website, the Shop.js form is used, or we receive an email. Other times, we get Data by recording interactions with our Services by, for example, using technologies like cookies and callbacks. We also get Data from third parties, like our financial or marketing partners.
    p.c4
      span.c1 The collection and use of data from a variety of sources is essential to our ability to provide our Services – and to help keep the Services safe. Data is critical in helping us to increase the safety of Your online payments, and reduce the risk of fraud, money laundering and other harmful activity.
    h3.c2#h.pjllbffz4cut
      span.c6 2. Data We Collect
    p.c4
      span.c0 a. Personal Data.
      span.c3  We call Data that identifies, or that could reasonably be used to identify, You as an individual
      span.c0 “Personal Data”
      span.c1 . We collect Personal Data in different ways. For example, we collect Personal Data when a business registers for a Hanzo account, a Customer makes payments or conducts transactions through a User’s website or application, a person responds to Hanzo emails or surveys, or when a Customer uses the “Remember Me” feature of shop.js. We also receive Personal Data from other sources, such as our partners, financial service providers, identity verification services, and publicly available sources. Personal Data does not include Data that has been aggregated or made anonymous such that it can no longer be reasonably associated with a specific person. The Personal Data that we may collect includes:
    ul.c10.lst-kix_brpyb862x8wy-0.start
      li.c7
        span.c0 Contact details
        span.c1 , such as name, postal address, telephone number, email address;
      li.c7
        span.c0 Financial and transaction Data
        span.c1 , such as credit or debit card number, and bank account information; and
      li.c7
        span.c0 Other Personal Data
        span.c1 , such as date of birth, or EIN.
    p.c4
      span.c0 b. Other Data.
      span.c3  We call Data other than Personal Data
      span.c0 “Other Data”
      span.c1 . We collect Other Data through a variety of sources. One of our sources for Other Data is cookies and other technologies that record Data about the use of our websites, websites that implement our Services, and the use of our Services generally. Other Data that we may collect include:
    ul.c10.lst-kix_czxyp1hgjisw-0.start
      li.c7
        span.c0 Browser and device data
        span.c1 , such as IP address, device type, operating system and Internet browser type, screen resolution, operating system name and version, device manufacturer and model, language, plug-ins, add-ons and the version of the Services You are using;
      li.c7
        span.c0 Transaction data
        span.c1 , such as purchases, purchase amount, date of purchase, and payment method;
      li.c7
        span.c0 Cookie and tracking technology data
        span.c1 , such as time spent on the Services, pages visited, language preferences, and other anonymous traffic data; and
      li.c7
        span.c0 Company data
        span.c1 , such as a company’s legal structure, product and service offerings, jurisdiction, and company records.
    h3.c2#h.q4qmuvsyi0sn
      span.c6 3. How We Use Data
    p.c4
      span.c0 a. Personal Data.
      span.c1  We and our service providers use Personal Data to: (i) provide the Services; (ii) detect and prevent fraud; (iii) mitigate financial loss or other harm to Users, Customers, and Hanzo; and (iv) promote, analyze and improve our products, systems, and tools. Examples of how we may use Personal Data include:
    ul.c10.lst-kix_kn3st3s94s0q-0.start
      li.c7
        span.c1 To verify an identity for compliance purposes;
      li.c7
        span.c1 To evaluate an application to use our Services;
      li.c7
        span.c1 To conduct manual or systematic monitoring for fraud and other harmful activity;
      li.c7
        span.c1 To respond to inquiries, send service notices and provide customer support;
      li.c7
        span.c1 To process a payment with shop.js, communicate regarding a payment, and provide related customer service;
      li.c7
        span.c1 For audits, regulatory purposes, and compliance with industry standards;
      li.c7
        span.c1 To develop new products;
      li.c7
        span.c1 To send marketing communications;
      li.c7
        span.c1 To improve or modify our Services; and
      li.c7
        span.c1 To conduct aggregate analysis and develop business intelligence that enable us to operate, protect, make informed decisions, and report on the performance of, our business.
    p.c4
      span.c0 b. Other Data.
      span.c1  We may use Other Data for a range of different purposes, provided we comply with applicable law and our contractual commitments. In some countries (for example, European Economic Area countries), local legal regimes may require us to treat some or all of Other Data as “personal data” under applicable data protection laws. Where this is the case, we will process Other Data only for the same purposes as Personal Data under this privacy policy.
    h3.c2#h.70m3uoojimuy
      span.c6 4. How We Disclose Data.
    p.c4
      span.c3 Hanzo
      span.c1  does not sell or rent Personal Data to marketers or unaffiliated third parties. We share Your Personal Data with trusted third parties, including:
    p.c4
      span.c0 a. To Hanzo Affiliates.
      span.c1  We share Data with entities worldwide that we control, are controlled by us, or are under our common control, to provide our Services. Hanzo, Inc. is the party responsible for overall management and use of the Data by these affiliated parties;
    p.c4
      span.c0 b. To Hanzo Service Providers.
      span.c1  We share Data with service providers who help us provide the Services. Service providers help us with things like payment processing (i.e., banks, credit bureaus, payment method providers), website hosting, data analysis, information technology and related infrastructure, customer service, email delivery, and auditing;
    p.c4
      span.c0 c. To Our Users.
      span.c1  We share Data with Users (such as merchants and application providers) as necessary to process payments or provide the Services. For example, we share Data with Users about purchases made by their Customers through the Hanzo payment processing services;
    p.c4
      span.c0 d. To Authorized Third Parties.
      span.c1  We share data with parties directly authorized by a User to receive Data, such as when a User authorizes a third party application provider to access the User’s Hanzo account using the Dashboard. The use of Data by an authorized third party is subject to the third party’s privacy policy;
    p.c4
      span.c0 e. To Third Parties.
      span.c1  We will share Data with third parties in the event of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock (including in connection with any bankruptcy or similar proceedings); and
    p.c4
      span.c0 f. Safety, Legal Purposes and Law Enforcement.
      span.c1  We use and disclose Data as we believe necessary: (i) under applicable law, or payment method rules; (ii) to enforce our terms and conditions; (iii) to protect our rights, privacy, safety or property, and/or that of our affiliates, You or others; and (iv) to respond to requests from courts, law enforcement agencies, regulatory agencies, and other public and government authorities, which may include authorities outside Your country of residence.
    h3.c2#h.ut485cj1mrl4
      span.c6 5. Security.
    p.c4
      span.c3 We use reasonable organizational, technical and administrative measures to protect Personal Data within our organization. Unfortunately, no data transmission or storage system can be guaranteed to be 100% secure. If You have reason to believe that Your interaction with us is no longer secure (for example, if You feel that the security of Your account has been compromised), please
      span.c3 contact us
      span.c1  immediately.
    h3.c2#h.56ro5l7uf289
      span.c6 6. Advertising.
    p.c4
      span.c3 We may use third-party advertising companies to serve advertisements regarding goods and services that may be of interest to You when You access our websites, based on Data relating to Your access to and use of our websites on any of Your devices, as well as Data received from third parties. To do so, these companies may place or recognize a unique cookie, or similar tracking technology, on Your browser (including the use of pixel tags). They may also use these technologies, along with data they collect about Your online use, to recognize You across the devices You use, such as a mobile phone and a laptop, and to make decisions about the advertisements You see. If You would like more information about this practice, and to learn how to opt out of behavioral advertising delivered by Network Advertising Initiative member companies in desktop and mobile browsers on the particular device on which You are accessing this Privacy Policy, please visit the
      span.c5
        a.c8(href='https://www.google.com/url?q=http://www.networkadvertising.org/managing/opt_out.asp&sa=D&ust=1498168759399000&usg=AFQjCNH6tMftpk9ILlhnPLj8-V7nbhbtCw') Network Advertising Initative
      span.c3  and
      span.c5
        a.c8(href='https://www.google.com/url?q=http://www.aboutads.info/&sa=D&ust=1498168759400000&usg=AFQjCNEIIS2WwRMPKqnAbUoR_zKMwSSFpg') Digital Advertising Alliance
      span.c1 .
    p.c4
      span.c3 You may download the
      span.c5
        a.c8(href='https://www.google.com/url?q=http://youradchoices.com/appchoices&sa=D&ust=1498168759400000&usg=AFQjCNGdNzJEcx-7QvFV_MEKna1Yw-t0Gw') AppChoices app
      span.c3  to opt out in mobile apps. In order to understand and improve the effectiveness of our advertising, we may also use web beacons, cookies, and other technologies to identify the fact that You have visited our website or seen one of our advertisements, and we may provide that Data to one or more third party advertising networks. The Data we provide may include the time and date of Your visit to our website, pages viewed, links clicked and other information that does not disclose your ‘real world’ identity. Those advertising networks may recognize the web beacon or cookie associated with Your visit to our website when You visit other websites on which they serve advertising, and they may make decisions about the advertisements You see based on it. We may choose to work with Google AdWords, Doubleclick, AdRoll or other advertising networks. Each of these companies has its own privacy policy, which we encourage You to review. For more information about advertising and tracking online, visit the
      span.c5
        a.c8(href='https://www.google.com/url?q=https://www.networkadvertising.org/&sa=D&ust=1498168759401000&usg=AFQjCNEgtbs-blhqG_n8Q80jhFVcTDJZ-w') Network Advertising Initiative
      span.c3 . This website allows consumers to “opt out” of the behavioral advertising delivered by member companies. To learn more about the cookies that may be served through our Services, and how you can control our use of cookies, please see our
      span.c3 Cookie Policy
      span.c1 . At present, there is no industry standard for recognizing Do Not Track browser signals, so we do not respond to them.
    h3.c2#h.2qcwppiltdu5
      span.c6 7. Choice and Access.
    p.c4
      span.c1 You have choices regarding our use and disclosure of Your Personal Data:
    p.c4
      span.c0 a. Opting out of receiving electronic communications from us.
      span.c1  If You no longer want to receive marketing-related emails from us on a going-forward basis, You may opt-out via the unsubscribe link included in such emails. We will try to comply with Your request(s) as soon as reasonably practicable. Please note that if You opt-out of receiving marketing-related emails from us, we may still send You important administrative messages that are required to provide You with our Services.
    p.c4
      span.c0 b. How You can access or change Your Personal Data.
      span.c3  If You would like to review, correct, or update Personal Data that You have previously disclosed to us, You may do so by signing in to Your Hanzo account or by
      span.c3 contacting us
      span.c1 .
    p.c4
      span.c1 If emailing us Your request, please make clear in the email what Personal Data You would like to have changed. For Your protection, we may only implement requests with respect to the Personal Data associated with the particular email address that You use to send us Your request, and we may need to verify Your identity before implementing Your request. We will try to comply with Your request as soon as reasonably practicable.
    h3.c2#h.89tqgaly95p8
      span.c6 8. Retention Period.
    p.c4
      span.c1 We will retain Personal Data for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law. Please note that we have a variety of obligations to retain the Data that You provide to us, including to ensure that transactions can be appropriately processed, settled, refunded or charged-back, to help identify fraud and to comply with anti-money laundering and other laws and rules that apply to us and to our financial service providers. Accordingly, even if You close Your Hanzo Account, we will retain certain Data to meet our obligations. There may also be residual Data that will remain within our databases and other records, which will not be removed.
    h3.c2#h.g4oangu1f9x5
      span.c6 9. Use of Services by Minors.
    p.c4
      span.c1 The Services are not directed to individuals under the age of thirteen (13), and we request that they not provide Personal Data through the Services.
    h3.c2#h.pdi7pwcvqxw
      span.c6 10. Jurisdiction and Cross-Border Transfer.
    p.c4
      span.c1 Our services are global and Data (including Personal Data) may be stored and processed in any country where we have operations or where we engage service providers, and we may transfer Data to countries outside of Your country of residence, including the United States, which may have data protection rules that are different from those of Your country. However, we will take measures to ensure that any such transfers comply with applicable data protection laws and that Your Data remains protected to the standards described in this privacy policy. In certain circumstances, courts, law enforcement agencies, regulatory agencies or security authorities in those other countries may be entitled to access your Personal Data.
    h3.c2#h.jsjjp8cor3kj
      span.c6 11. Hanzo as a Data Processor.
    p.c4
      span.c1 We may collect, use and disclose certain Personal Data about Customers when acting as the User’s service provider. Our Users are responsible for making sure that the Customer’s privacy rights are respected, including ensuring appropriate disclosures about third party data collection and use. To the extent that we are acting as a User’s data processor, we will process Personal Data in accordance with the terms of our agreement with the User and the User’s lawful instructions.
    h3.c2#h.xihul7t6hbs0
      span.c6 12. Updates to this Privacy Policy and Notifications.
    p.c4
      span.c1 We may change this Privacy Policy. The “Last updated” legend at the top of this Privacy Policy indicates when this Privacy Policy was last revised. Any changes are effective when we post the revised Privacy Policy on the Services.
    p.c4
      span.c3 We may provide You with disclosures and alerts regarding the Privacy Policy or Personal Data collected by posting them on our website and, if you are a User, by contacting You through your Hanzo Dashboard, email address and/or the physical address listed in Your Hanzo account. You agree that electronic disclosures and notices have the same meaning and effect as if we had provided You with hard copy disclosures. Disclosures and notices in relation to this Privacy Policy or Personal Data shall be considered to be received by You within 24 hours of the time they are posted to our website or, in the case of Users, sent to through one of means listed in this paragraph.
