html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='content-type')
    style(type='text/css') ol{margin:0;padding:0}table td,table th{padding:0}.c2{color:#373e42;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11.5pt;font-family:"Arial";font-style:normal}.c13{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c5{color:#0d2b3e;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:16.5pt;font-family:"Arial";font-style:normal}.c0{color:#0d2b3e;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:15pt;font-family:"Arial";font-style:normal}.c4{color:#0d2b3e;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11.5pt;font-family:"Arial";font-style:normal}.c14{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c3{padding-top:0pt;padding-bottom:0pt;line-height:1.6956521739130435;orphans:2;widows:2;text-align:left}.c8{margin-left:3pt;padding-top:14pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c1{font-size:11.5pt;color:#0d2b3e;font-weight:700}.c11{font-size:11.5pt;color:#0099e5;text-decoration:underline}.c10{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c6{color:#0d2b3e;font-size:11.5pt}.c7{color:#373e42;font-size:11.5pt}.c9{color:inherit;text-decoration:inherit}.c12{font-weight:700}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
  body.c10
    p.c3
      span.c2 This Hanzo Services Agreement (“Agreement”) is a legal agreement between Hanzo AI, Inc. (“Hanzo” or “we”) and the entity or person (“you”, “your”, or “user”) who registered on the Hanzo Account page to receive certain ecommerce, analytic, advertising, and other business services that may be offered by Hanzo and its affiliates (each, a “Service”). This Agreement describes the terms and conditions that apply to your use of the Services.
    p.c3
      span.c7 If you do not understand any of the terms of this Agreement, please
      span.c7 contact us
      span.c2  before using the Services.
    p.c3
      span.c4 You may not access or use any Services unless you agree to abide by all of the terms and conditions in this Agreement.
    h2.c8#h.60b0b9goxuw4
      span.c5 Section A: General Terms
    h3.c8#h.idoaq2xbcz9
      span.c0 1. Overview of this Agreement
    p.c3
      span.c2 This Agreement provides a general description of the Services Hanzo may provide to you, including those allowing you to accept payments from purchasers or donors to your organization, those allowing you to perform advertising on other networks to raise the interest of their users, and those allowing you to measure and quantify the actions and interest of the above (collectively, your “Users”). We provide you with a more detailed description of the Services through published software libraries and application programming interfaces that may be used to access the Services (the Hanzo “APIs”) and additional resources we make available to you on our website.
    p.c3
      span.c2 Before using the Services, you must register with Hanzo and create an account (a “Hanzo Account”).
    p.c3
      span.c7 Section A
      span.c2  describes the process of registering for and using your Hanzo Account.
    p.c3
      span.c7 Section B
      span.c2  describes your use of the APIs and the Services.
    p.c3
      span.c7 Section C
      span.c2  describes the Services you may use to accept payments and perform other financial transactions, manage subscriptions, and perform transaction reporting (the “Ecommerce Services”).
    p.c3
      span.c7 Section D
      span.c2  describes proper handling, management, and use of data, generated during your use of the Services, including your Users’ data.
    p.c3
      span.c7 Finally,
      span.c7 Section E
      span.c2  describes your liability to Hanzo for all losses connected with your Hanzo Account, your agreement to resolve all disputes with Hanzo by arbitration and not in a lawsuit, and other legal terms that apply to you.
    h3.c8#h.frqsg1v1wwnu
      span.c0 2. Your Hanzo Account
    p.c3
      span.c4 a. Registration and Permitted Activities:
    p.c3
      span.c2 Only businesses (including sole proprietors), bona fide charitable organizations, and other entities or persons located in the United States are eligible to apply for a Hanzo Account to use the Services described in this Agreement. Hanzo and its affiliates may provide Services to you or your affiliates in other countries or regions under separate agreements.
    p.c3
      span.c2 To register for a Hanzo Account, you or the person or people submitting the application (your “Representative”) must provide us with your business or trade name, address, email, phone number, tax identification number, URL, the nature of your business or activities, and certain other information about you that we require. We may also collect personal information (including name, birthdate, and government-issued identification number) about your beneficial owners, principals, and your Hanzo Account administrator. Until you have submitted, and we have reviewed and approved all required information, your Hanzo Account will be available to you on a preliminary basis only, and we may terminate it at any time and for any reason.
    p.c3
      span.c2 If you use Ecommerce Services, your name (or the name used to identify you) and URL may appear on your Users’ bank or other statements. To minimize confusion and avoid potential disputes, these descriptors must be recognizable to your Users and must accurately describe your business or activities. You may only use Ecommerce Services to facilitate Transactions with your Users. You may not use Ecommerce Services to send money to others, to conduct any personal or noncommercial transactions, or for any other purposes prohibited by this Agreement.
    p.c3
      span.c6 b. Business Representative:
      span.c2  You and your Representative individually affirm to Hanzo that your Representative is authorized to provide the information described in this Section A.2 on your behalf and to bind you to this Agreement. We may require you or your Representative to provide additional information or documentation demonstrating your Representative’s authority. Without the express written consent of Hanzo, neither you nor your Representative may register or attempt to register for a Hanzo Account on behalf of a user Hanzo previously terminated from use of the Services.
    p.c3
      span.c2 If you are a sole proprietor, you and your Representative also affirm that your Representative is personally responsible and liable for your use of the Services and your obligations to Users, including payment of any amounts owed under this Agreement.
    p.c3
      span.c6 The following special requirements apply to you if you are not at least 18 years old.
      span.c2  If you are a legal entity, your Representative must either obtain the consent of your board or of an authorized officer; and if you are an individual or sole proprietor, your Representative must be your parent or legal guardian. Any such approving board, authorized officer, parent, or legal guardian is responsible to Hanzo and is legally bound to this Agreement as if it had agreed to the terms of this Agreement itself.
    p.c3
      span.c6 c. Validation and Underwriting:
      span.c2  At any time during the term of this Agreement and your use of the Services, we may require additional information from you to verify beneficial ownership or control of the business, validate information you provided, verify you or your Representative’s identity, and assess the risk associated with your business. This additional information may include business invoices, copies of government-issued identification, business licenses, or other information related to your business, its beneficial owners or principals. If you use Ecommerce Services, we may also request that you provide copies of financial statements or records pertaining to your compliance with this Agreement, or require a personal or company guarantee from you. Your failure to provide this information may result in suspension or termination of your Hanzo Account.
    p.c3
      span.c2 You authorize us to retrieve information about you from our service providers, including credit and information bureaus. You acknowledge that this may include your name, addresses, credit history, and other data about you or your Representative. You acknowledge that we may use your information to verify any other information you provide to us, and that any information we collect may affect our assessment of your overall risk to our business. You acknowledge that in some cases, such information may lead to suspension or termination of your Hanzo Account. Hanzo may periodically update this information as part of our underwriting criteria and risk analysis procedures.
    p.c3
      span.c6 d. Changes to Your Business, Keeping your Hanzo Account Current:
      span.c2  You agree to keep the information in your Hanzo Account current. You must promptly update your Hanzo Account with any changes affecting you, the nature of your business activities, your Representatives, beneficial owners, principals, or any other pertinent information. We may suspend your Hanzo Account or terminate this Agreement if you fail to keep this information current.
    p.c3
      span.c2 You also agree to promptly notify us in writing no more than three days after any of the following occur: you are the subject of any voluntary or involuntary insolvency petition or proceeding, receivership, bankruptcy, or similar action; there is an adverse change in your financial condition; there is a planned or anticipated liquidation or substantial change in the basic nature of your business; you transfer or sell 25% or more of your total assets, or there is any change in the control or ownership of your business or parent entity; or you receive a judgment, writ or warrant of attachment or execution, or levy against 25% or more of your total assets.
    h3.c8#h.sntstex9995u
      span.c0 3. Your Relationship with Your Users
    p.c3
      span.c2 You may only use the Services for legitimate Transactions with your Users. You know your Users better than we do, and you are responsible for your relationship with them. Hanzo is not responsible for the products or services you publicize or sell, or that your Users purchase using the Services; or if you accept donations, for your communication to your Users of the intended use of such donations. You affirm that you are solely responsible for the nature and quality of the products or services you provide, and for delivery, support, refunds, returns, and for any other ancillary services you provide to your Users.
    p.c3
      span.c2 Hanzo provides Services to you but we have no way of knowing if any particular purchase, sale, donation, order, or other transaction (each a “Transaction”) is accurate or correct, or typical for your business. You are responsible for knowing whether a Transaction initiated by your Customer is erroneous (such as a Customer purchasing one item when they meant to order another) or suspicious (such as unusual or large purchases, or a request for delivery to a foreign country where this typically does not occur). If you are unsure if a Transaction is erroneous or suspicious, you agree to research the Transaction and, if necessary, contact your Customer before fulfilling or completing the Transaction. You are solely responsible for any losses you incur due to erroneous or fraudulent Transactions in connection with your use of the Services.  Any Services provided to assist in User interaction do not imply an increase in Hanzo’s responsibility, nor do they imply a decrease in your own.
    h3.c8#h.uhzw6exifzqw
      span.c0 4. Fees and Fines
    p.c3
      span.c7 Hanzo
      span.c7  will provide the Services to you at the rates and for the fees (“Fees”) described in the
      span.c7 Fee Schedule
      span.c2 , which is considered to be incorporated into this Agreement. The Fees include charges for Transactions (such as processing a sale) and for other events connected with your Hanzo Account. We may revise the Fees at any time upon 30 days’ notice to you. We may charge additional Fees for cross-border transactions. In addition to the Fees, you are also responsible for any penalties or fines imposed on you or Hanzo by any bank, money services business, payment network, or other financial intermediary (each a “Financial Services Provider”) resulting from your use of Ecommerce Services in a manner not permitted by this Agreement or a Financial Services Provider’s rules and regulations.
    p.c3
      span.c7 If you do not understand the Fee Schedule or you have a question about Fees, please
      span.c7 contact us
      span.c2 .
    h3.c8#h.q75a3aqfhehd
      span.c0 5. Services and Hanzo Account Support
    p.c3
      span.c7 We will provide you with support to resolve general issues relating to your Hanzo Account and your use of the Services. This support includes resources and documentation that we make available to you through the current versions of Hanzo’s
      span.c7 support pages
      span.c7 ,
      span.c7 API documentation
      span.c7 , and other pages on our
      span.c7 website
      span.c7  (collectively, “Documentation”). The most efficient way to get answers to your questions is to review our Documentation. If you have still have questions after reviewing the Documentation, please
      span.c7 contact us
      span.c2 .
    p.c3
      span.c2 You are solely responsible for providing support to Users regarding Transaction receipts, product or service delivery, support, returns, refunds, and any other issues related to your products and services and business activities. We are not responsible for providing support or the Services to your Users unless we agree to do so in a separate agreement with you or one of your Users.
    h3.c8#h.nytc7pr46pod
      span.c0 6. Taxes and Other Expenses
    p.c3
      span.c2 You are solely responsible (i) for determining what, if any, taxes or fees (“Taxes”) apply to your Transactions; and (ii) assessing, collecting, reporting, or remitting Taxes to the appropriate tax authority. When you provide us your tax identification number, you agree that we may send electronic reports of tax documents (including Form 1099-K) to you. We are not obligated to nor will we determine the applicability of any Taxes, or calculate, collect, report, or remit any Taxes to any tax authority arising from any Transaction, but we may withhold any amounts that we deem appropriate to cover such Taxes if we cannot validate any tax identification number you provide us. We may send documents to you and tax authorities for Transactions processed using the Services. Specifically, pursuant to the Internal Revenue Code, we may be required to file an informational return with the IRS reporting Transactions and third-party network transactions with legal entities or persons that occur in a given calendar year. If you use Ecommerce Services, you acknowledge that we will report the total amount of payments you receive each calendar year as required by the Internal Revenue Service.
    h3.c8#h.kaz01mlcrhu8
      span.c0 7. Service Limitations, Prohibited Activities, and Security Controls
    p.c3
      span.c6 a. Compliance with Applicable Laws:
      span.c2  You must use the Services in a lawful manner, and must obey all laws, rules, and regulations (“Laws”) applicable to your use of the Service and to Transactions. As applicable, this may include compliance with domestic and international Laws related to use or provision of financial services, notification and consumer protection, unfair competition, privacy, and false advertising, and any other Laws relevant to Transactions.
    p.c3
      span.c6 b. Prohibited Businesses and Activities:
      span.c7  You may not use the Services for your benefit or the benefit another for any activities Hanzo has identified as a
      span.c7 prohibited business or activity
      span.c7  (collectively, “Prohibited Businesses”). Prohibited Businesses include use of the Service in or for the benefit of a country, organization, entity, or person embargoed or blocked by any government, including those on sanctions lists identified by the
      span.c7 United States Office of Foreign Asset Control (OFAC)
      span.c2 .
    p.c3
      span.c7 Please review the list of
      span.c7 Prohibited Businesses
      span.c7  thoroughly before registering for and opening a Hanzo Account. If you are uncertain whether a category of business or activity is prohibited or have questions about how these restrictions apply to you, please
      span.c7 contact us
      span.c2 . We may add to or update the Prohibited Business List at any time.
    p.c3
      span.c6 c. Other Restricted Activities:
      span.c2  You may not use the Services to facilitate illegal Transactions or to permit others to use the Services for noncommercial, personal, or household purposes. In addition, you may not allow, and may not allow others to: (i) access or attempt to access non-public Hanzo systems, programs, data, or services; (ii) copy, reproduce, republish, upload, post, transmit, resell, or distribute in any way data, content, or any part of the Services, Documentation, or our website except as expressly permitted by Laws; (iii) act as service bureau or pass-through agent for the Services with no added value to Users; (iv) transfer any rights granted to you under this Agreement; (v) work around any of the technical limitations of the Service or enable functionality that is disabled or prohibited; (vi) reverse engineer or attempt to reverse engineer the Service except as expressly permitted by Laws; (vii) perform or attempt to perform any actions that would interfere with the normal operation of the Service or affect use of the Service by our other users; or (ix) impose an unreasonable or disproportionately large load on the Service.
    p.c3
      span.c6 d. Security Controls:
      span.c7  We may provide or suggest security procedures and controls intended to reduce the risk to you of fraud (“Security Controls”). You agree to review the Security Controls and the Documentation that we provide to you, and to select the Security Controls that meet your business requirements. If you believe that the Security Controls we provide are insufficient, then you agree to separately implement additional controls that meet your requirements. You may review some of the details of our Security Controls
      span.c7 on our website
      span.c2 .
    h3.c8#h.2zd83vc6xgcn
      span.c0 8. Suspicion of Unauthorized or Illegal Use
    p.c3
      span.c2 We may refuse, condition, or suspend any Transactions that we believe may violate this Agreement or other agreements you may have with Hanzo; or that expose you, Hanzo, or others to risks unacceptable to Hanzo. If we suspect or know that you are using or have used the Services for unauthorized, fraudulent, or illegal purposes, we may share any information related to such activity with the appropriate financial institution, regulatory authority, or law enforcement agency consistent with our legal obligations. This information may include information about you, your Hanzo Account, your Users, and Transactions made through your use of the Services.
    h3.c8#h.7u742qtszdez
      span.c0 9. Disclosures and Notices; Electronic Signature Consent
    p.c3
      span.c6 a. Consent to Electronic Disclosures and Notices:
      span.c2  By registering for a Hanzo Account, you agree that such registration constitutes your electronic signature, and you consent to electronic provision of all disclosures and notices from Hanzo (“Notices”), including those required by Law. You also agree that your electronic consent will have the same legal effect as a physical signature.
    p.c3
      span.c6 b. Methods of Delivery:
      span.c2  You agree that Hanzo can provide Notices regarding the Service to you through our website or through the Dashboard (as defined below), or by mailing Notices to the email or physical addresses identified in your Hanzo Account. Notices may include notifications about your Hanzo Account, changes to the Services, or other information we are required to provide to you. You also agree that electronic delivery of a Notice has the same legal effect as if we provided you with a physical copy. We will consider a Notice to have been received by you within 24 hours of the time a Notice is either posted to our website or emailed to you.
    p.c3
      span.c6 c. SMS and Text Messages:
      span.c2  You authorize us to provide Notices to you via text message to allow us to verify your or your Representative’s control over your Hanzo Account (such as through two-step verification), and to provide you with other critical information about your Hanzo Account. Standard text or data charges may apply to such Notices. Where offered, you may disable text message notifications in the Dashboard by responding to any such message with “STOP”, or by following instructions provided in the message. However, by disabling text messaging, you may be disabling important security procedures and controls intended to reduce the risk of fraud to you and your Users (“Security Controls”) on your Hanzo Account and may increase the risk of loss to your business.
    p.c3
      span.c6 d. Requirements for Delivery:
      span.c7  It should come as no surprise to you that you will need a computer or mobile device, Internet connectivity, and an updated browser to access your Dashboard and review the Notices provided to you. If you are having problems viewing or accessing any Notices, please
      span.c7 contact us
      span.c2  and we can find another means of delivery.
    p.c3
      span.c6 e. Withdrawing Consent:
      span.c2  Due to the nature of the Services, you will not be able to begin using them without agreeing to electronic delivery of Notices. However, you may choose to withdraw your consent to receive Notices electronically by terminating your Hanzo Account.
    h3.c8#h.nojino8lmurp
      span.c0 10. Termination
    p.c3
      span.c6 a. Term and Termination:
      span.c7  This Agreement is effective upon the date you first access or use the Services and continues until terminated by you or Hanzo. You may terminate this Agreement by closing your Hanzo Account at any time by opening
      span.c7 the data tab in your account settings
      span.c2 , selecting “close my account” and ceasing to use the Service. If you use the Service again or register for another Hanzo Account, you are consenting to this Agreement. We may terminate this Agreement or close your Hanzo Account at any time for any reason by providing you Notice. We may suspend your Hanzo Account or terminate this Agreement, if (i) we determine in our sole discretion that you are ineligible for the Service because of significant fraud or credit risk, or any other risks associated with your Hanzo Account; and (ii) you use the Services in a prohibited manner or otherwise do not comply with any of the provisions of this Agreement; or (iii) any Law or Financial Services Provider requires us to do so.
    p.c3
      span.c6 b. Effects of Termination:
      span.c7  Termination does not immediately relieve you of obligations incurred by you under this Agreement. Upon termination, you agree to (i) complete all pending Transactions, (ii) stop accepting new Transactions through the Service, and (iii) immediately remove all Hanzo ornetwork logos from your website (unless permitted under a separate license with the network). Your continued or renewed use of the Service after all pending Transactions have been processed serves to renew your consent to the terms of this Agreement. If you terminate this Agreement, we will pay out any remaining funds owed to you in accordance with
      span.c7 Section C
      span.c2 .
    p.c3
      span.c2 In addition, upon termination you understand and agree that (i) all licenses granted to you by Hanzo under this Agreement will end; (ii) we reserve the right (but have no obligation) to delete all of your information and account data stored on our servers within 10 days of termination; (iii) we will not be liable to you for compensation, reimbursement, or damages related to your use of the Service, or any termination or suspension of the Service or deletion of your information or account data; and (iv) you are still liable to us for any Fees or fines, or other financial obligation incurred by you or through your use of the Service prior to termination.
    h2.c8#h.t2tk1sn6nei7
      span.c5 Section B: Hanzo Technology
    h3.c8#h.vj0qk18pi5vh
      span.c0 1. APIs and Dashboard
    p.c3
      span.c7 Hanzo
      span.c7  has developed and provides access to the APIs that may be used to access the Services. You may use the APIs solely as described in the Documentation to process Transactions or use the Services on websites and through the applications identified in your Hanzo Account. You may manage your Hanzo Account, connect with other service providers, and enable additional features through the Hanzo
      span.c7 management dashboard
      span.c2  (“Dashboard”).
    p.c3
      span.c2 You may use the APIs to utilize the Services on your website or inside your mobile applications. You may not use the API for any purpose, function, or feature not described in the Documentation or otherwise communicated to you by us. Due to the nature of the Services, we will update the APIs and Documentation from time to time, and may add or remove functionality. We will provide you Notice if we change, deprecate, or remove functionality from the API so that you may continue using the Services with minimal interruption.
    p.c3
      span.c7 We will give you both publishable and secret API keys for live and test Transactions available through the Dashboard. Publishable keys identify Transactions with your Users, and secret keys permit any API call to your Hanzo Account. You are responsible for securing your secret keys — do not publish or share them with any unauthorized persons. Failure to secure your secret keys will increase the likelihood of fraud on your Hanzo Account and potential losses to you or your Users. We provide more details on proper use of publishable and secret API keys in the Documentation. Information on securing your Hanzo Account is available in
      span.c7 Section D
      span.c2 .
    h3.c8#h.361ao5d13goq
      span.c0 2. Ownership of Hanzo IP
    p.c3
      span.c7 Hanzo
      span.c2  or its licensors exclusively own all rights, title, and interest in the patents, copyrights (including rights in derivative works), moral rights, rights of publicity, trademarks or service marks, logos and designs, trade secrets, and other intellectual property embodied by, or contained in the APIs, Services, Dashboard, and Documentation (collectively, “Hanzo IP”) or any copies thereof. Hanzo IP is protected by copyright, trade secret, patent, and other intellectual property Laws, and Hanzo reserves all rights in Hanzo IP not expressly granted to you in this Agreement.
    p.c3
      span.c2 You may choose to or we may invite you to submit comments or ideas about improvements to the Service, our APIs, our platform, or any other component of our products or services (“Ideas”). If you submit an Idea to us, we will presume that your submission was voluntary, unsolicited by us, and delivered to us without any restrictions on our use of the Idea. You also agree that Hanzo has no fiduciary or any other obligation to you in connection with any Idea you submit to us, and that we are free to use your Ideas without any attribution or compensation to you.
    h3.c8#h.um5iukmnubs2
      span.c0 3. License
    p.c3
      span.c7 Hanzo
      span.c2  grants you a nonexclusive and nontransferable license to electronically access and use the Hanzo IP only in the manner described in this Agreement. Hanzo does not sell to you, and you do not have the right to sublicense the Hanzo IP. We may make updates to the Hanzo IP or new Services available to you automatically as electronically published by Hanzo, but we may require action on your part before you may use the Hanzo IP or new Services (including activation through the Dashboard, or acceptance of new or additional terms). Hanzo may revoke or terminate this license at any time if you use Hanzo IP in a manner prohibited by this Agreement.
    p.c3
      span.c2 You may not: (i) claim or register ownership of Hanzo IP on your behalf or on behalf of others; (ii) sublicense any rights in Hanzo IP granted by us; (iii) import or export any Hanzo IP to a person or country in violation of any country’s export control Laws; (iv) use Hanzo IP in a manner that violates this Agreement or Laws; or (v) attempt to do any of the foregoing.
    h3.c8#h.l00empl8eujn
      span.c0 4. Hanzo Marks; References to Our Relationship
    p.c3
      span.c7 We may make certain Hanzo logos or marks (“Hanzo Marks”) available for use by you and other users to allow you to identify Hanzo as a service provider. To use Hanzo Marks, you must first agree to the
      span.c7 Hanzo Marks Usage Agreement
      span.c2 . Hanzo may limit or revoke your ability to use Hanzo Marks at any time. You may never use any Hanzo Marks or Hanzo IP consisting of trademarks or service marks without our express permission, or in a manner that may lead people to confuse the origin of your products or services with ours.
    p.c3
      span.c7 During the term of this Agreement, you may publicly identify us as the provider of the Services to you and we may publicly identify you as a Hanzo user. If you do not want us identify you as a user, please
      span.c7 contact us
      span.c2 . Neither you nor we will imply any untrue sponsorship, endorsement, or affiliation between you and Hanzo. Upon termination of your Hanzo Account, we will both remove any public references to our relationship from our websites.
    h3.c8#h.wqkg6ijuigqj
      span.c0 5. Content
    p.c3
      span.c2 You may use the Services to upload or publish text, images, and other content (collectively, “Content”) to your Hanzo Account and to third-party sites or applications but only if you agree to obtain the appropriate permissions and, if required, licenses to upload or publish any such Content using the Services. You agree to fully reimburse Hanzo for all fees, fines, losses, claims, and any other costs we may incur that arise from publishing illegal Content through the Services, or claims that Content you published infringes the intellectual property, privacy, or other proprietary rights of others.
    h2.c8#h.id0z8gmrt49o
      span.c5 Section C: Ecommerce Services
    h3.c8#h.u6m0ovxp1gwd
      span.c0 1. Ecommerce Services Overview
    p.c3
      span.c7 Hanzo
      span.c2  provides you Ecommerce Services through various Financial Services Providers. Ecommerce Services allow you to accept payment from your Users for Transactions. We may limit or refuse to process Charges (as defined below) for any Prohibited Businesses, or for Charges submitted in violation of this Agreement. To use the Ecommerce Services, you must also accept separate agreements with the Financial Services Providers and payment method providers as described in Section 5.
    p.c3
      span.c2 The following terms used in this section relate to your use of Ecommerce Services:
    p.c3
      span.c2 “Charge” means a credit or debit instruction to capture funds from an account that a Customer maintains with a bank or other financial institution for in connection with a Transaction.
    p.c3
      span.c2 “Refund” means an instruction initiated by you to return funds to a Customer for an existing Charge.
    p.c3
      span.c2 “Dispute” means an instruction initiated by the Customer with a Financial Services Provider or us to return funds for an existing Charge (including a chargeback on a payment card network and a dispute on the Automated Clearinghouse (ACH) network).
    p.c3
      span.c2 “Reversal” means an instruction initiated by a Financial Services Provider or us to return funds for an existing Charge. Reversals may result from (i) invalidation of a charge by a Financial Services Provider; (ii) funds settled to you in error or without authorization; and (iii) submission of a Charge in violation of Network Rules, or where submission of the Charge or your use of Ecommerce Services violates this Agreement.
    p.c3
      span.c2 “Return” means an instruction initiated by you, a Customer, or a Financial Services Provider to return funds unrelated to an existing Charge.
    p.c3
      span.c2 “Transfer” means an instruction to credit funds to or debit funds from an account you designate with a Financial Services Provider.
    p.c3
      span.c2 “Fine” means any fines, levies, or other charges imposed by us or a Financial Services Provider caused by your violation of Laws or this Agreement, or as permitted by Network Rules.
    p.c3
      span.c2 “Network Rules” means the guidelines, bylaws, rules, and regulations imposed by the Financial Services Providers that operate payment networks supported by Hanzo.
    h3.c8#h.csbv3q5qqk0b
      span.c0 2. Registering for Use of Ecommerce Services
    p.c3
      span.c7 When you register for a Hanzo Account, you may be asked for financial information, or information we use to identify you, your Representatives, principals, beneficial owners, and other individuals associated with your Hanzo Account, either directly or through information sharing from a supported integration (such as Plaid). Throughout the term of this Agreement, we may share information about your Hanzo Account with Financial Services Providers in order to verify your eligibility to use the Ecommerce Services, establish any necessary accounts or credit with Financial Services Providers, monitor Charges and other activity, and conduct risk management and compliance reviews. We will review and may conduct further intermittent reviews of your Hanzo Account information to determine that you are eligible to use the Ecommerce Services. Hanzo’s use of the information you provide to us under this Agreement is described in more detail in
      span.c7 Section D
      span.c2 .
    p.c3
      span.c7 Hanzo is not a bank and we do not provide loans or extend credit. If you accept payment for products or services (including events such as concerts or other performances) not immediately deliverable to the Customer (a “Preorder”), we may, in our sole discretion, initiate Reversals or hold
      span.c7 Reserves
      span.c7  for all or a portion of the Charges processed by us for a Preorder. If you would like to receive payment for a Preorder, please
      span.c7 contact us
      span.c2  before doing so.
    h3.c8#h.prra9obvawd4
      span.c0 3. Processing Transactions, Disputes
    p.c3
      span.c2 You may only submit Charges through the Ecommerce Services that are authorized by your Users. To enable us to process Transactions for you, you authorize and direct Financial Services Providers to receive and pay any funds owed to you through the Ecommerce Services, and you will identify Hanzo as your agent for purposes of providing the Ecommerce Services to you.
    p.c3
      span.c2 Except where Hanzo and a Customer have otherwise agreed, you maintain the direct relationship with your Users and are responsible for: (i) acquiring appropriate consent to submit Charges through the Ecommerce Services on their behalf; (ii) providing confirmation or receipts to Users for each Charge; (iii) verifying Users’ identities; and (iv) determining a Users’ eligibility and authority to complete Transactions. However, even authorized Transactions may be subject to a Dispute. Hanzo is not responsible for or liable to you for authorized and completed Charges that are later the subject of a Dispute, Refund, or Reversal, are submitted without authorization or in error, or violate any Laws.
    p.c3
      span.c2 You are immediately responsible to us for all Disputes, Refunds, Reversals, Returns, or Fines regardless of the reason or timing. You may have the ability to challenge a Dispute by submitting evidence through the API or the Dashboard. We may request additional information to provide to Financial Services Providers to assist you in contesting the Dispute, but we cannot guarantee that your challenge will be successful. Financial Services Providers may deny your challenge for any reason they deem appropriate. Where a challenge is entirely or partially successful, a Financial Services Provider may credit funds associated with the Charge that is the subject of the Dispute (or a portion thereof) to your Hanzo Account.
    p.c3
      span.c2 Please keep in mind that you are liable for all losses you incur when lost or stolen payment credentials or accounts are used to purchase products or services from you. Hanzo does not and will not insure you against losses caused by fraud under any circumstances. For example, if someone pretends to be a legitimate buyer but is a fraudster, you will be responsible for any resulting costs, including Disputes, even if you do not recover the fraudulently purchased product. Even if we work with you to assist you or law enforcement in recovering lost funds, Hanzo is not liable to you, or responsible for your financial losses or any other consequences of such fraud. We provide the Security Controls described in Section D.3 to help you mitigate the risk of fraud losses on your Hanzo Account, and we strongly encourage you to review and use the Security Controls appropriate for your business.
    p.c3
      span.c2 A Financial Services Provider or we may issue a Reversal for any Charge where a Charge is made without the account owner’s authorization, in connection with a Prohibited Business, that violates the Network Rules, or for many other reasons. If a Financial Services Provider or we issue a Reversal, we will provide you Notice and a description of the cause of the Reversal.
    h3.c8#h.4e5w32hs49hm
      span.c0 4. Responsibilities and Disclosures to Your Users
    p.c3
      span.c2 It is very important to us that your Users understand the purpose, amount, and conditions of Charges you submit to us. With that in mind, when using the Ecommerce Services you agree to: (i) accurately communicate, and not misrepresent, the nature of the Transaction, and the amount of the Charge in the appropriate currency prior to submitting it to the API; (ii) provide a receipt that accurately describes each Transaction to Users; (iii) provide Users a meaningful way to contact you in the event that the product or service is not provided as described; and (iv) not use Services to sell products or services in a manner that is unfair or deceptive, exposes Users to unreasonable risks, or does not disclose material terms of a purchase in advance. You also agree to maintain a fair return, refund, cancellation, or adjustment policy, and clearly explain the process by which Users can receive a Refund.
    p.c3
      span.c2 You may use some Ecommerce Services to receive recurring or subscription payments from your Users. If you use the Ecommerce Services to submit these recurring or subscription Charges, you agree to comply with applicable Laws, including clearly informing Users in advance of submitting the initial Charge that they will be charged on an ongoing basis and explaining the method for unsubscribing or cancelling their recurring billing or subscription.
    p.c3
      span.c2 If you engage in Transactions with Users who are individuals (i.e. consumers), you specifically agree to provide consumers disclosures required by Law, and to not engage in unfair, deceptive, or abusive acts or practices (UDAAP).
    h3.c8#h.65rfarch55p2
      span.c0 5. Financial Services Providers
    p.c3
      span.c7 To use the Ecommerce Services, you must agree to additional terms of service between you and one or more of Hanzo, a Hanzo affiliate, or a Financial Services Provider (“Financial Services Terms”). In addition, unique terms and conditions may also apply specific payment methods or networks (“Payment Terms”). By using the Ecommerce Services, you agree to the Financial Services Terms and applicable Payment Terms as set out on our
      span.c7 legal page
      span.c2  (including those that separately bind you with Financial Services Providers or payment method providers).
    p.c3
      span.c2 We may add or remove Financial Services Providers or payment methods at any time. The Financial Service Terms and Payment Terms may also be amended from time to time. Your continuing use of the Ecommerce Services constitutes your consent and agreement to such additions, removals and amendments.
    h3.c8#h.ux04lhf0xajm
      span.c0 6. Specific Payment Methods
    p.c3
      span.c6 a. Payment Cards:
      span.c7  When accepting payment card payments, you must comply with all Network Rules applicable to merchants, including the Network Rules provided by
      span.c7 Visa
      span.c7 ,
      span.c7 MasterCard
      span.c7 ,
      span.c7 American Express
      span.c2 , and Discover. These Network Rules state that you may only accept payment using payment cards for bona fide legal commercial transactions, may only use payment network trademarks or service marks consistent with the Network Rules, and may not discriminate by card type or charge surcharges for acceptance of payment cards. The payment card networks may amend the Network Rules at any time without notice to you, and Hanzo reserves the right to change the Ecommerce Services for payment card processing at any time to comply with the Network Rules. We may share the information you provide to us that we use to identify the nature of the products or services with Financial Services Providers, including assigning your business activities to a particular payment network merchant category code (MCC).
    p.c3
      span.c2 Users typically raise payment card network Disputes (i.e. chargebacks) when a merchant fails to provide the product or service to the Customer, or where the payment card account holder did not authorize the Charge. High chargeback rates (typically those exceeding 1%) may result in your inability to use the Ecommerce Services. Failure to timely and effectively manage Disputes with your Users may ultimately result in your inability to accept payment cards for your business.
    p.c3
      span.c2 When you accept payment card Transactions, Network Rules specifically prohibit you from (i) providing cash refunds for a Charge on a credit card, unless required by Laws, (ii) accepting cash, its equivalent, or any other item of value for a Refund, (iii) acting as a payment intermediary or aggregator, or otherwise reselling Ecommerce Services on behalf of others, (iv) submitting what you believe or know to be a fraudulent Charge, or (v) using Ecommerce Services in a manner that is an abuse of Financial Services Providers’ networks or a violation of Network Rules.
    p.c3
      span.c2 If you misuse the Ecommerce Services for payment card transactions or engage in activity the payment card networks identify as damaging to their brand, or if we are required to do so by Network Rules, we will submit information about you, Representatives, Principals, beneficial owners and other individuals associated with your Hanzo Account to the MATCH terminated merchant listing maintained by MasterCard and accessed and updated by Visa and American Express, or to the Consortium Merchant Negative File maintained by Discover. Addition to one of these lists may result in your inability to accept payments from payment cards. You understand and consent to our sharing this information and to the listing itself, and you will fully reimburse us for any losses we incur from third-party claims, and you waive your rights to bring any direct claims against us that result from such reporting.
    p.c3
      span.c6 b. Automated Clearinghouse (ACH):
      span.c7  The ACH network is controlled and managed by the National Automated Clearinghouse Association (NACHA) and Financial Service Provider member organizations. Where submitting Charges over the ACH network, you are required to comply with the Network Rules for use of the ACH network on
      span.c11
        a.c9(href='https://www.google.com/url?q=https://www.nacha.org/rules&sa=D&ust=1498168859224000&usg=AFQjCNF2drhyqA6qnJYpT5FzAZpXGXVoRw') NACHA’s web site
      span.c2 . NACHA may amend the Network Rules at any time, and we may amend this Agreement or make changes to the Payment Service as necessary to comply with the Network Rules.
    p.c3
      span.c2 You understand and accept your role as the Originator (as defined in the NACHA Network Rules). You agree to obtain your Customer’s consent to debit or credit their bank account and initiate a Charge over the ACH network. Such consent must be in a form and manner that complies with the Network Rules and the Documentation for ACH transactions. As with other Ecommerce Services, you may not, and may not attempt to send or receive funds to or from a person, entity, or state where such Transactions are prohibited by US law. You also agree to maintain the security and integrity of all information you collect as part of an ACH Transaction.
    p.c3
      span.c2 Any Disputes or unauthorized Charges using the ACH network may result in your inability to accept ACH payments.
    h3.c8#h.38eukb27ffcl
      span.c0 7. Security Interests, Collection, and Set-Off Rights
    p.c3
      span.c6 a. Security Interests:
      span.c2  You grant us a lien and security interest in all funds processed and deposited into all Payout Accounts or any other bank account associated with your Hanzo Account, and in any funds processed using the Ecommerce Services. This means that if you have not paid funds that you owe to us, your Users, or to any of our affiliates, we have a right superior to the rights of any of your other creditors to seize or withhold funds owed to you for Transactions that we process through the Services, and to debit or withdraw funds from any bank account associated with your Hanzo Account. Upon our request, you will execute and deliver any documents and pay any associated fees we consider necessary to create, perfect, and maintain a security interest in such funds (such as the filing of a form UCC1).
    p.c3
      span.c6 b. Collection and Set-Off Rights:
      span.c2  You agree to pay all amounts owed to us and to our affiliates on demand. Where possible, we will first attempt to collect or set-off balances in your Hanzo Accounts from your use of the Ecommerce Services or from funds that we hold a Reserve. However, we may collect any obligations you owe us under this Agreement from any Payout Account associated with your Hanzo Account or any commonly-owned Hanzo Account by deducting or setting-off the corresponding amounts from the funds owed to you through your use of the Ecommerce Services, or through a direct debit from any Payout Account identified in your Hanzo Account or a commonly-owned Hanzo Account. Your failure to pay amounts owed to us or to our affiliates under this Agreement is a breach and you will be liable for any costs we incur during collection in addition to the amount you owe. Collection costs may include, attorneys’ fees and expenses, costs of any arbitration or court proceeding, collection agency fees, any applicable interest, and any other related cost.
    p.c3
      span.c2 In certain circumstances, we may require a personal, parent or other guarantee (a “Guarantee”) from a user’s principal, owner, or other guarantor. A Guarantee consists of a legally binding promise by an individual or an entity to pay any amounts the user owes in the event that the user is unable to pay. If we require you to provide us with a Guarantee, we will specifically inform you of the amount of, and the reasons for the Guarantee. If you are unable to provide such a Guarantee when required, you will not be permitted to use the Services.
    h3.c8#h.f28z6wkq1s7h
      span.c0 8. Reconciliation and Error Notification
    p.c3
      span.c2 The Dashboard contains details of Charges, Charge history, and other activity on your Hanzo Account. Except as required by Law, you are solely responsible for reconciling the information in the Dashboard generated by your use of Ecommerce Services with your records of Customer Transactions, and for identifying any Transaction errors. You agree to review your Hanzo Account and immediately notify us of any errors. We will investigate any reported errors, including any errors made by Hanzo or our Financial Services Providers, and attempt to rectify them by crediting or debiting the Payout Account identified in the Dashboard. Your chance of recovering of funds you have lost due to a Transaction error will be very limited or even impossible if we did not cause the error, or if funds are no longer available in any Payout Account or Recipient Account. We will work with you and our Financial Services Providers to correct a Transaction error in accordance with Network Rules; however, if you fail to communicate a Transaction error to us for our review within 60 days after you discovered it and flagged it in the Dashboard, you waive your right to make any claim against us or our Financial Services Providers for any amounts associated with the Transaction error.
    h2.c8#h.i87opb8p7ck
      span.c5 Section D: Data Usage, Privacy, and Security
    h3.c8#h.rpktqgi47sae
      span.c0 1. Data Usage Overview
    p.c3
      span.c2 Protecting, securing, and maintaining the information processed and handled through the Services is one of our top priorities, and it should be yours too. This section describes our respective obligations when handling and storing information connected with the Services. The following terms used in this section relate to data provided to Hanzo by you or your Users, or received or accessed by you through your use of the Services:
    p.c3
      span.c2 “Personal Data” means information that identifies a specific living person (not a company, legal entity, or machine) and is transmitted to or accessible through the Services.
    p.c3
      span.c2 “User Data” means information that describes your business and its operations, your products or services, orders placed by Users, and analytic data regarding a User’s preferences or interests.
    p.c3
      span.c2 “Payment Data” means payment account details, information communicated to or by Financial Services Providers, financial information specifically regulated by Laws and Network Rules, and any other information used with the Ecommerce Services to complete a Transaction.
    p.c3
      span.c2 “Hanzo Data” means details of the API transactions over Hanzo infrastructure, information used in fraud detection and analysis, aggregated or anonymized information generated from Data, and any other information created by or originating from Hanzo or the Services.
    p.c3
      span.c2 The term “Data” used without a modifier means all Personal Data, User Data, Payment Data, and Hanzo Data.
    p.c3
      span.c7 Hanzo processes, analyzes, and manages Data to: (a) provide Services to you, other Hanzo users, and Users; (b) mitigate fraud, financial loss, or other harm to users and Users; and (c) analyze and improve our products, systems, and tools. Hanzo provides Data to third-party service providers, including Financial Services Providers and their affiliates, to assist in our providing Services to you and other users. We do not provide Personal Data to unaffiliated parties for marketing their products to you. You understand and consent to Hanzo’s use of Data for the purposes and in a manner consistent with this
      span.c7 Section D
      span.c2 .
    h3.c8#h.h06ekb2pjsa7
      span.c0 2. Data Protection and Privacy
    p.c3
      span.c6 a. Confidentiality:
      span.c2  Hanzo will maintain User Data in our possession as your confidential information, and will only use such User Data as permitted by this Agreement, by other agreements between you and us, or as otherwise directed by you. You will maintain any Data you receive through the Services that is not User Data as Hanzo’s confidential information, may not disclose or distribute any such Data, and you will only use such Data in conjunction with the Services and as permitted by this Agreement or by other agreements between you and us. Neither party may use any Personal Data for marketing purposes unless it has received the express consent from a specific Customer to do so. You may not disclose Payment Data to others except in connection with processing Transactions requested by Users and consistent with applicable Laws and Network Rules.
    p.c3
      span.c6 b. Privacy:
      span.c7  Protection of Personal Data is very important to us. Our
      span.c7 Privacy Policy
      span.c2  explains how and for what purposes we collect, use, retain, disclose, and safeguard the Data you provide to us. You agree to review the terms of our Privacy Policy, which we update from time to time.
    p.c3
      span.c2 You affirm that you are now and will continue to be compliant with all applicable Laws governing privacy and your use of Data that you provide to us or access through your use of the Services. You also affirm that you have obtained all necessary rights and consents under applicable Laws to disclose to Hanzo — or allow Hanzo to collect, use, retain, and disclose — any Personal Data that you provide to us or authorize us to collect, including Data that we may collect directly from Users using cookies or other similar means. As may be required by Law and in connection with this Agreement, you are solely responsible for disclosing to Users that Hanzo processes Transactions (including payment Transactions) for you and may receive Personal Data from you. Additionally, where required by Law or Network Rules, we may delete or disconnect a Customer’s Personal Data from your Hanzo Account when requested to do so by the Customer.
    p.c3
      span.c2 We will comply with our obligations under Law if we become aware that we caused a loss, theft, or breach of a Customer’s Personal Data. We will also notify you and provide you sufficient information regarding the loss, theft or breach to help you mitigate any negative impact on the Customer.
    p.c3
      span.c6 c. PCI Compliance:
      span.c7  If you use Ecommerce Services to accept payment card Transactions, you must comply with the Payment Card Industry Data Security Standards (PCI-DSS) and, if applicable to your business, the Payment Application Data Security Standards (PA-DSS) (collectively, the “PCI Standards”). Hanzo provides tools to simplify your compliance with the PCI Standards, but you must ensure that your business is compliant. The specific steps you will need to take to comply with the PCI Standards will depend on your implementation of the Ecommerce Services. You can find more information about implementing Hanzo in a manner compliant with the PCI Standards in our
      span.c7 Documentation
      span.c7 . You will promptly provide us with documentation demonstrating your compliance with the PCI Standards upon our request. If you elect to store, hold and maintain “Account Data”, as defined by the PCI Standards (including Customer card account number or expiration date), you further agree that you will either maintain a PCI-compliant system or use a compliant service provider to store or transmit such Account Data; further, you agree to never store any “Sensitive Authentication Data”, as defined by the PCI Standards (including CVC or CVV2), data at any time. You can find information about the PCI Standards on the
      span.c7 PCI Council’s website
      span.c2 .
    h3.c8#h.a957vqi3e7kw
      span.c0 3. Security and Fraud Controls
    p.c3
      span.c6 a. Hanzo’s Security:
      span.c2  Hanzo is responsible for protecting the security of Data in our possession. We will maintain commercially reasonable administrative, technical, and physical procedures to protect User Data and Personal Data stored in our servers from unauthorized access, accidental loss, modification, or breach, and we will comply with applicable Laws and Network Rules when we handle User and Personal Data. However, no security system is impenetrable and we cannot guarantee that unauthorized parties will never be able to defeat our security measures or misuse any Data in our possession. You provide User Data and Personal Data to Hanzo with the understanding that any security measures we provide may not be appropriate or adequate for your business, and agree to implement the Security Controls and any additional controls that meet your specific requirements. In our sole discretion, we may take any action, including suspension of your Hanzo Account, to maintain the integrity and security of the Services or Data, or to prevent harm to you, us, Users, or others. You waive any right to make a claim against us for losses you incur that may result from our actions.
    p.c3
      span.c6 b. Your Security:
      span.c2  You are solely responsible for the security of any Data on your website, your servers, in your possession, or that you are otherwise authorized to access or handle. You will comply with applicable Laws and Network Rules when handling or maintaining User Data and Personal Data, and will provide evidence of your compliance to us upon our request. If you do not provide evidence of such compliance to our satisfaction, we may suspend transactions on your account or terminate this Agreement.
    p.c3
      span.c6 c. Security and Fraud Controls:
      span.c2  We may provide or suggest Security Controls to you, but we cannot guarantee that you or Users will never become victims of fraud. Any Security Controls we provide or suggest may include processes or applications developed by Hanzo, its affiliates, or other companies. You agree to review all the Security Controls we suggest and choose those that are appropriate for your business to protect against unauthorized Transactions and, if appropriate for your business, independently implement other security procedures and controls not provided by us. If you disable or fail to properly use Security Controls, you will increase the likelihood of unauthorized Transactions, Disputes, fraud, losses, and other similar occurrences. Keep in mind that you are solely responsible for losses you incur from the use of lost or stolen payment credentials or accounts by fraudsters who engage in fraudulent Transactions with you, and your failure to implement Security Controls will only increase the risk of fraud. We may assist you with recovering lost funds, but you are solely responsible for losses due to lost or stolen credentials or accounts, compromise of your username or password, changes to your Payout Account, and any other unauthorized use or modification of your Hanzo Account. Hanzo is not liable or responsible to you and you waive any right to bring a claim against us for any losses that result from the use of lost or stolen credentials or accounts to engage in fraudulent Transactions, unless such losses result from Hanzo’s willful or intentional actions. Further, you will fully reimburse us for any losses we incur that result from the use of lost or stolen credentials or accounts.
    p.c3
      span.c2 We may also provide you with subjective Data regarding the possibility or likelihood that a Transaction may be fraudulent that require action or review by you. We may incorporate action or inaction by you into any such subjective scoring when identifying future potential fraud. You understand that we provide this Data to you for your consideration, but that you are ultimately responsible for any actions you choose to take or not take in relation to such Data, and for providing inaccurate or incorrect information to us. You are solely responsible for any action or inaction you take based on such Data.
    h3.c8#h.9yfp1rlvxgts
      span.c0 4. Transfer of Payment Data upon Termination
    p.c3
      span.c2 For 30 days after termination of your Hanzo Account, you may request in writing that we transfer Payment Data regarding transactions between you and Users that you are entitled to receive (“Exportable Data”) to an alternative payment services provider consistent with applicable Laws. For payment card transactions, Hanzo will only transfer Exportable Data to another PCI-DSS Level 1-certified payment services provider. For other payment methods, Hanzo may require you to provide us with evidence that the alternative payment services provider you select has appropriate systems and security controls before we migrate any Exportable Data. We will use commercially reasonable efforts to transfer Exportable Data within 10 business days after we receive your written request. We may delay or refuse any transfer request if we believe the payment services provider you have identified does not have systems or security controls in place that are sufficient to protect Exportable Data, that the integrity of Exportable Data may be compromised, or if Laws or Network Rules prohibit us from transferring it.
    h2.c8#h.ixbbm4yh3fky
      span.c5 Section E: Additional Legal Terms
    h3.c8#h.c39lb44hgey1
      span.c0 1. Right to Amend
    p.c3
      span.c7 We have the right to change or add to the terms of this Agreement at any time, and to change, delete, discontinue, or impose conditions on use of the Service by posting such changes on our
      span.c7 website
      span.c2  or any other website we maintain or own. We may provide you with Notice of any changes through the Dashboard, via email, or through other means. Your use of the Service, APIs, or Data after we publish any such changes on our website, constitutes your acceptance of the terms of the modified Agreement.
    h3.c8#h.v0oq5erag8qf
      span.c0 2. Assignment
    p.c3
      span.c7 You may not assign this Agreement, any rights or licenses granted in this Agreement, or operation of your Hanzo Account to others without our prior written consent. If you wish to make such an assignment , please
      span.c7 contact us
      span.c2 . If we consent to the assignment, the assignee agrees to assume all of your rights and obligations owed by you related to the assignment, and must agree to comply with the terms of this Agreement. Hanzo may assign this Agreement without your consent or any other restriction. If we make an assignment, we will provide reasonable Notice to you.
    h3.c8#h.5qsur8110n79
      span.c0 3. Right to Audit
    p.c3
      span.c2 If we believe that a security breach, leak, loss, or compromise of Data has occurred on your systems, website, or app affecting your compliance with this Agreement, we may require you to permit a third-party auditor approved by us to conduct a security audit of your systems and facilities. The auditor will issue a report to us and our Financial Services Providers.
    h3.c8#h.lvhlbgufbx4z
      span.c0 4. No Agency; Third-Party Services
    p.c3
      span.c2 Nothing in this Agreement serves to establish a partnership, joint venture, or other agency relationship between you and us, or with any Financial Services Provider. Each party to this Agreement, and each Financial Services Provider, is an independent contractor. Unless a Financial Services Provider expressly agrees, neither you nor we have the ability to bind a Financial Services Provider to any contract or obligation, and neither party will represent that you or we have such an ability.
    p.c3
      span.c2 We may reference or provide access to third-party services, products, and promotions that utilize, integrate, or provide ancillary services to the Services (“Third-Party Services”). These Third-Party Services are provided for your convenience only and do not constitute our approval, endorsement, or recommendation of any such Third-Party Services for you. You access and use any Third-Party Service based on your own evaluation and at your own risk. You understand that your use of any Third-Party Service is not governed by this Agreement. If you decide to use a Third-Party Service, you will be responsible for reviewing, understanding and accepting the terms and conditions associated with its use. We expressly disclaim all responsibility and liability for your use of any Third-Party Service. Please also remember that when you use a Third-Party Service, our Privacy Policy is no longer in effect. Your use of a Third-Party Service, including those that have a link on our website, is subject to that Third-Party Service’s own terms of use and privacy policies.
    h3.c8#h.xn2yrurr2vkh
      span.c0 5. Force Majeure
    p.c3
      span.c2 Neither party will be liable for any delays in processing or other nonperformance caused by telecommunications, utility, failures, or equipment failures; labor strife, riots, war, or terrorist attacks; nonperformance of our vendors or suppliers, fires or acts of nature; or any other event over which the respective party has no reasonable control. However, nothing in this section will affect or excuse your liabilities or your obligation to pay Fees, Fines, Disputes, Reversals, or Returns under this Agreement.
    h3.c8#h.lw2jznqwamfw
      span.c0 6. Your Liability For Third-Party Claims Against Us
    p.c3
      span.c2 You agree to defend Hanzo, our affiliates, and their respective employees, agents, and service providers (each a “Hanzo Entity”) against any claim, suit, demand, loss, liability, damage, action, or proceeding (each, a “Claim”) brought by a third party against a Hanzo Entity, and you agree to fully reimburse the Hanzo Entities for any Claims that result from: (i) your breach of any provision of this Agreement; (ii) any Fees, Fines, Disputes, Reversals, Returns, or any other liability we incur that results from your use of Ecommerce Services; (iii) negligent or willful misconduct of your employees, contractors, or agents; or (iv) contractual or other relationships between you and Users.
    p.c3
      span.c6 Important Note for Sole Proprietors:
      span.c2  If you are using Services as a sole proprietor, please keep in mind that the Law and the terms of this Agreement consider you and your business to be legally one and the same. You are personally responsible and liable for your use of the Services, payment of Fees, Reversals, Fines, losses based on Disputes or fraud, or for any other amounts you owe under this Agreement for your failure to use Security Controls, and for all other obligations to us and to your Users. You risk personal financial loss if you fail to pay any amounts owed. Please take the time to read our Documentation and take any measures appropriate to protect against such losses.
    h3.c8#h.hvnwnvb2oxgv
      span.c0 7. Representations and Warranties
    p.c3
      span.c2 By accepting the terms of this Agreement, you represent and warrant that: (a) you are eligible to register and use the Service and have the authority to execute and perform the obligations required by this Agreement; (b) any information you provide us about your business, products, or services is accurate and complete; (c) any Charges represent a Transaction for permitted products, services, or donations, and any related information accurately describes the Transaction; (d) you will fulfill all of your obligations to Users and will resolve all Disputes with them; (e) you will comply with all Laws applicable to your business and use of the Services; (f) you will not use Ecommerce Services for household purposes or peer-to-peer money transmission, or (except in the normal course of business) intercompany Transactions; and (g) you will not use the Service, directly or indirectly, for any fraudulent or illegal undertaking, or to interfere in any manner with the normal operation of the Service.
    h3.c8#h.6yt5p7hyukme
      span.c0 8. No Warranties
    p.c3
      span.c2 WE PROVIDE THE SERVICES AND HANZO IP “AS IS” AND “AS AVAILABLE”, WITHOUT ANY EXPRESS, IMPLIED, OR STATUTORY WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, OR ANY OTHER TYPE OF WARRANTY. NO DATA, DOCUMENTATION OR ANY OTHER INFORMATION PROVIDED BY HANZO OR OBTAINED BY YOU FROM OR THROUGH THE SERVICE — WHETHER FROM HANZO OR ANOTHER HANZO ENTITY, AND WHETHER OR ORAL OR WRITTEN — CREATES OR IMPLIES ANY WARRANTY FROM A HANZO ENTITY TO YOU.
    p.c3
      span.c2 YOU AFFIRM THAT NO HANZO ENTITY CONTROLS THE PRODUCTS OR SERVICES THAT YOU OFFER OR SELL OR THAT YOUR CUSTOMERS PURCHASE USING THE PAYMENT SERVICES. YOU UNDERSTAND THAT WE CANNOT GUARANTEE AND WE DISCLAIM ANY KNOWLEDGE THAT YOUR CUSTOMERS POSSESS THE AUTHORITY TO, OR WILL COMPLETE ANY TRANSACTION.
    p.c3
      span.c2 THE HANZO ENTITIES DISCLAIM ANY KNOWLEDGE OF, AND DO NOT GUARANTEE: (a) THE ACCURACY, RELIABILITY, OR CORRECTNESS OF ANY DATA PROVIDED THROUGH THE SERVICES; (b) THAT THE SERVICE WILL MEET YOUR SPECIFIC BUSINESS NEEDS OR REQUIREMENTS; (c) THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, OR WILL FUNCTION IN AN UNINTERRUPTED MANNER OR BE SECURE; (d) THAT HANZO WILL CORRECT ANY DEFECTS OR ERRORS IN THE SERVICE, APIS, DOCUMENTATION, OR DATA; OR (e) THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL CODE. USE OF DATA YOU ACCESS OR DOWNLOAD THROUGH THE SERVICE IS DONE AT YOUR OWN RISK — YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY, LOSS OF DATA, OR ANY OTHER LOSS THAT RESULTS FROM SUCH ACCESS OR DOWNLOAD. YOU UNDERSTAND THAT THE HANZO ENTITIES MAKE NO GUARANTEES TO YOU REGARDING TRANSACTION PROCESSING TIMES OR PAYOUT SCHEDULES.
    h3.c8#h.sok67t8xao41
      span.c0 9. Limitation of Liability
    p.c3
      span.c2 Under no circumstances will any Hanzo Entity be responsible or liable to you for any indirect, punitive, incidental, special, consequential, or exemplary damages resulting from your use or inability to use the Service, the unavailability of the Service, lost profits, personal injury, or property damage, or for any other damages arising out of, in connection with, or relating to this Agreement or your use of the Services, even if such damages are foreseeable, and whether or not you or the Hanzo Entities have been advised of the possibility of such damages. The Hanzo Entities are not liable, and deny responsibility for any damages, harm, or losses to you arising from or relating to hacking, tampering, or other unauthorized access or use of the Service, your Hanzo Account, or Data, or your failure to use or implement anti-fraud measures, the Security Controls, or any other data security measure. The Hanzo Entities further deny responsibility for all liability and damages to you or others caused by (a) your access or use of the Service inconsistent with the Documentation; (b) any unauthorized access of servers, infrastructure, or Data used in connection with the Services; (c) interruptions or cessation of the Services; (d) any bugs, viruses, or other harmful code that may be transmitted to or through the Services; (e) any errors, inaccuracies, omissions, or losses in or to any Data provided to us; (f) third-party content provided by you; or (g) the defamatory, offensive, or illegal conduct of others.
    p.c3
      span.c2 You agree to limit any additional liability not disclaimed or denied by the Hanzo Entities under this Agreement to your direct and documented damages; and you further agree that under no circumstances will any such liability exceed in the aggregate the amount of Fees paid by you to Hanzo during the three-month period immediately preceding the event that gave rise to your claim for damages.
    p.c3
      span.c2 These limitations on our liability to you will apply regardless of the legal theory on which your claim is based, including contract, tort (including negligence), strict liability, or any other theory or basis.
    p.c3
      span.c2 We provide the Services from facilities in the United States. However, we do not claim, and we cannot guarantee that Services we provide from the United States are or will be appropriate or available, or comply with the Laws of any other location or jurisdiction, or with Laws governing export, import, or foreign use.
    h3.c8#h.vmbifeq8ibbz
      span.c0 10. Responding to Legal Process
    p.c3
      span.c7 Hanzo
      span.c2  may respond to and comply with any writ of attachment, lien, levy, subpoena, warrant, or other legal order (“Legal Process”) that we believe to be valid. We or any Financial Services Provider may deliver or hold any funds or, subject to the terms of our Privacy Policy, any Data as required under such Legal Process, even if you are receiving funds or Data on behalf of other parties. Where permitted by Law, we will make reasonable efforts to provide you Notice of such Legal Process by sending a copy to the email address we have on file for you. Hanzo is not responsible for any losses, whether direct or indirect, that you may incur as a result of our response or compliance with a Legal Process.
    h3.c8#h.4u41bz7fbcva
      span.c0 11. Dispute Resolution; Agreement to Arbitrate
    p.c3
      span.c1 a. Binding Arbitration:
      span.c7.c12  In the event that there is a dispute, claim or controversy arising out of or relating to statutory or common law claims, the breach, termination, enforcement, interpretation or validity of any provision of this Agreement, and the determination of the scope or applicability of your agreement to arbitrate any dispute, claim or controversy originating from this Agreement, but specifically excluding any dispute principally related to either party’s intellectual property (which such dispute will be resolved in litigation before the
      span.c7 United States District Court for the Northern District of California), will be determined by arbitration in San Francisco, California before a single arbitrator.
      span.c2  The arbitration will be administered by JAMS. For claims greater than $250,000, the JAMS Comprehensive Arbitration Rules and Procedures in effect at the time the arbitration is commenced will apply. For claims less than or equal to $250,000, the JAMS Streamlined Arbitration Rules in effect at the time the arbitration is commenced will apply. The arbitrator will apply the substantive law of the State of California, exclusive of its conflict or choice of law rules. If JAMS is no longer in business, or refuses or declines to administer any dispute between the parties brought before it, either party may petition the United States District Court for the Northern District of California to appoint the arbitrator. Nothing in this paragraph will preclude the parties from seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction. The parties acknowledge that this Agreement evidences a transaction involving interstate commerce. Notwithstanding the provisions in this paragraph referencing applicable substantive law, the Federal Arbitration Act (9 U.S.C. §§ 1-16) will govern any arbitration conducted pursuant to the terms of this Agreement.
    p.c3
      span.c2 Either party may commence arbitration by providing to JAMS and the other party to the dispute a written demand for arbitration, setting forth the subject of the dispute and the relief requested (“Arbitration Demand”).
    p.c3
      span.c6 b. Service of Process:
      span.c2  Each party hereby irrevocably and unconditionally consents to service of process through personal service at their corporate headquarters, registered address, or primary address (for individuals or sole proprietors). Nothing in this Agreement will affect the right of any party to serve process in any other manner permitted by Law.
    p.c3
      span.c6 c. Class Waiver:
      span.c2  To the fullest extent permitted by Law, each of the parties agrees that any proceeding, whether in arbitration or in court, will be conducted only on an individual basis and not in a class, consolidated or representative action. If for any reason a claim or dispute proceeds in court rather than through arbitration, each party knowingly and irrevocably waives any right to trial by jury in any action, proceeding or counterclaim arising out of or relating to this Agreement or any of the transactions contemplated between the parties.
    p.c3
      span.c6 d. Provision of an Award:
      span.c2  Subject to the limitations of liability identified in this Agreement, the appointed arbitrators may award monetary damages and any other remedies allowed by the laws of the State of California. In making their determination, the arbitrators will not have the authority to modify any term or provision of this Agreement. The arbitrators will deliver a reasoned written decision with respect to the dispute (the “Award”) to each party, who will promptly act in accordance the Award. Any Award (including interim or final remedies) may be confirmed in or enforced by any court having jurisdiction over either party or its assets. The decision of the arbitrators will be final and binding on the parties, and will not be subject to appeal or review.
    p.c3
      span.c6 e. Fees:
      span.c2  Each party will advance one-half of the fees and expenses of the arbitrators, the costs of the attendance of the court reporter at the arbitration hearing, and the costs of the arbitration facility. In any arbitration arising out of or related to this Agreement, the arbitrators will award to the prevailing party, if any, the costs and attorneys’ fees reasonably incurred by the prevailing party in connection with those aspects of its claims or defenses on which it prevails, and any opposing awards of costs and attorneys’ fees awards will be offset.
    p.c3
      span.c6 f. Confidentiality:
      span.c2  The parties will maintain the confidential nature of the arbitration proceeding, the hearing and the Award, except as may be necessary to prepare for or conduct the arbitration hearing on the merits, or except as may be necessary in connection with a court application for a preliminary remedy, or confirmation of an Award or its enforcement, or unless otherwise required by applicable Laws. The parties, witnesses, and arbitrators will treat as confidential and will not disclose to any third person (other than witnesses or experts) any documentary or other evidence produced in any arbitration hereunder, except as required by Law or except if such evidence was obtained from the public domain or was otherwise obtained independently from the arbitration.
    p.c3
      span.c6 g. Conflict of Rules:
      span.c2  In the case of a conflict between the provisions of this Section E.11.g and the rules governing arbitration identified in Section E.11.a, the provisions of this Section E.11.g will prevail. If any provision of this agreement to arbitrate is held invalid or unenforceable, it will be so held to the minimum extent required by Law and all the other provisions will remain valid and enforceable.
    h3.c8#h.kztj3jajg6pm
      span.c0 12. Entire Agreement
    p.c3
      span.c2 This Agreement and all policies and procedures that are incorporated by reference constitute the entire agreement between you and Hanzo for provision and use of the Services. Except where expressly stated otherwise in a writing executed between you and Hanzo, this Agreement will prevail over any conflicting policy or agreement for the provision or use of the Services. This Agreement sets forth your exclusive remedies with respect to the Services. If any provision or portion of this Agreement is held to be invalid or unenforceable under Law, then it will be reformed and interpreted to accomplish the objectives of such provision to the greatest extent possible, and all remaining provisions will continue in full force and effect.
    h3.c8#h.2bezv2dkhkg1
      span.c0 13. Survival
    p.c3
      span.c2 All provisions of this Agreement that give rise to a party’s ongoing obligation will survive termination of this Agreement, including but not limited to Sections A.3 (“Your Relationship with Your Users”), A.6 (“Taxes and Other Expenses”), A.7 (“Service Limitations, Prohibited Activities, and Security Controls”), A.8 (“Suspicion of Unauthorized or Illegal Use”), A.9 (“Disclosures and Notices; Electronic Signature Consent”), A.10.b (“Effects of Termination”), B.2 (“Ownership of Hanzo IP”), C.6 (“Specific Payment Methods”), C.7 (“Security Interests, Collection, and Set-Off Rights”), C.8 (“Reconciliation and Error Notification”),  D.3 (“Security and Fraud Controls”), D.4 (“Your Use of Data with Hanzo Connect and Hanzo Relay”), D.5 (“Transfer of Payment Data upon Termination”), E.4 (“No Agency; Third-Party Services”), E.5 (“Force Majeure”), E.6 (“Your Liability for Third-Party Claims Against Us”), E.7 (“Representations and Warranties”), E.8 (“No Warranties”), E.9 (“Limitation of Liability”), E.10 (“Responding to Legal Process”), E.11 (“Dispute Resolution; Agreement to Arbitrate”), E.12 (“Entire Agreement”), and E.13 (“Survival”); and any related terms in the Payment Terms and Financial Services Terms.
    p.c3
      h2 Mobile Terms of Service
      p Hanzo Inc
      p Last updated: Aug. 9, 2023
      p The Hanzo mobile message service (the "Service") is operated by Hanzo Inc (“Hanzo Inc”, “we”, or “us”). Your use of the Service constitutes your agreement to these terms and conditions (“Mobile Terms”). We may modify or cancel the Service or any of its features without notice. To the extent permitted by applicable law, we may also modify these Mobile Terms at any time and your continued use of the Service following the effective date of any such changes shall constitute your acceptance of such changes.
